<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />

<script>
	$(document).ready(function() {
	$("#create-patient-complete").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Case Cancelled</div>
<br />
Appointment for MICHAEL, SHAMOS confirmed for:<br />
<br />
CLINIC ABC<br />
12345 FORBES AVENUE<br />
PITTSBURGH, PA 12513<br />
<br />
October 10, 2012 (Wed) AT 3:30 PM

<br /><br />
<span class="orange">
<a id="create-patient-complete" href="patient-info.htm" class="orange loadright">Back to Patient</a></span>
