<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />

<script>
$(document).ready(function() {
	$("#create-case-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#submit-create-case").button({
		icons: {
			primary: "ui-icon-plus"
		}
	});
	$( "#schedule-create-preferreddate" ).datepicker();
	$("#form-create-case").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
		$( "#inner-right" ).hide();
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );

    /* Send the data using post and put the results in a div */
		$.post( url, $("#form-create-case").serialize(),
		function( data ) {
			$( "#inner-right" ).empty().append($(data));
			$( "#inner-right" ).fadeIn('fast');
		}
		);
     });
});

function centerView(id) {
	$('#view-box').fadeIn(100);
	$('#referring-modal').fadeIn(100);
	$('#view-box').load('/referring/mriInfo/'+id+'/');
}

</script>

<div class="title-text">New Appointment</div>
	<table class="format-table">
		<tr>
			<td width="100px"><b>Patient</b></td>
			<td>{{patient.first_name}}, {{patient.middle_name}}, {{patient.last_name}}</td>
		</tr>
		<tr>
			<td width="100px"><b>Birthdate</b></td>
			<td>{{patient.birthday|date:"SHORT_DATE_FORMAT"}}</td>
		</tr>
		<tr>
			<td width="100px"><b>Gender</b></td>
			<td>
				{% if patient.gender == 1 %}
					Male
				{% endif %}
				{% if patient.gender == 0 %}
					Female
				{% endif %}
			</td>
		</tr>
	</table><br />
<div class="small-title">Search For Timeslots</div>

{% if errors %}
	{% for error in errors %}
		{{error}}</br>
	{% endfor %}
{% endif %}

<form id="form-create-case" name="form-create-case" action="/referring/appointmentsSearch/{{patient.id}}/" method="post">{% csrf_token %}
	<table class="formtable">
		<tr>
			<td width="120px">Preferred Date</td>
			<td><input type="text" name="preferreddate" id="schedule-create-preferreddate" /></td>
		</tr>
		<tr>
			<td>ZIP Code</td>
			<td><input type="text" name="zipcode" /></td>
		</tr>
	</table>
<br />
<span class="orange">
<a id="create-case-back" href="/referring/patientInfo/{{patient.id}}/" class="orange loadright">Cancel</a></span>
<input type="submit" id="submit-create-case" value="Search" />
</form>
<br />
{% if dic %}
<div id="mri-centers-result">
<div class="small-title">Available Timeslots</div>
	<table id="mri-centers">
		<tr>
			<th width="300px">Center</th>
			<th width="120px">Date</th>
			<th>Timeslots</th>
		</tr>
		{% for center, schedules in dic.items%}
		<tr>
			<td class="left"><a href="" onClick="centerView({{center.id}});return false">{{center.name}}</a></td>
			<td>{{schedules.0.date}}</td>
			{% for schedule in schedules %}
			<td><a onClick="confirmBooking({{patient.id}},{{schedule.id}});">{{schedule.start_time|time:"H:i:s"}}</a></td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
<div id="timeslot-confirm" title="Confirm Timeslot">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Select timeslot at {{schedule.start_time|time:"H:i:s"}} ?<br /></p>
</div>