<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />

<script>
	$(document).ready(function() {
	$("#create-patient-complete").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Case Cancelled</div>
<br />
Appointment for {{appointment.patient}} concelled for:<br />
<br />
{{appointment.mri.name}}<br />
{{appointment.mri.address}} {{appointment.mri.address2}}<br />
{{appointment.mri.city}}, {{appointment.mri.state}} {{appointment.mri.zip}}<br />
<br />
{{appointment.schedule.date}} AT {{appointment.schedule.start_time}}

<br /><br />
<span class="orange">
<a id="create-patient-complete" href="/referring/patientInfo/{{patient.id}}/" class="orange loadright">Back to Patient</a></span>
