<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/common.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">timeslot</div>

<!-- PAGE CONTENT -->

<table id="schedule-timeslot-table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th></th>
					
					</tr>
				</thead>
				<tbody>
				{% for schedule in schedules %}
					<tr>
						<td>{{schedule.date}}</td>
						<td>{{schedule.start_time}}-{{schedule.end_time}}</td>
						<td><a href="#" id="book-timeslot" style=" cursor: pointer;" class="panebutton" load="/referring/scheduleDetail/{{schedule.id}}/"><img src="{{STATIC_URL}}referring/images/button-add.png" width="15" height="15"/>&nbsp;BOOK</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class ="panebutton" load="schedule.htm"><img src="{{STATIC_URL}}referring/images/back.png" width="30" height="30" />&nbsp;BACK</div>
			<div id="reset" style="float:right; margin-top: -30px; margin-right: 5px; cursor: pointer;"><input type="button" onClick="reset_dt_view();" value="reset" /></div>
		

