<!-- JAVASCRIPT LIBRARY IMPORTS -->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>


<!-- CONTENT BELOW THIS LINE -->
<div id = "createbox">
<!-- HEADER REQUIRED -->
<div class="window-header">create patient</div>

<!-- PAGE CONTENT -->
 	Please check the patient information, if the information is correct, please click CONFIRM button
 	
 	<table class="left-table">
	<tr>
		<td><b>Address:</b></td> 
		<td>{{patient.address}},{{patient.address2}}, {{patient.city}}, {{patient.state}},{{patient.zip}}</td>
	</tr>
	<tr>
		<td><b>SSN:</b></td>
		<td>{{patient.ssn}}</td>
	</tr>
	<tr>
		<td><b>Gender:</b></td>	
		{% if patient.gender == 1 %}
			<td>Male</td>
			{% endif %}
		{% if patient.gender == 0 %}
			<td>Female</td>
			{% endif %}
	</tr>
	<tr>
		<td><b>Birthday:</b></td> 
		<td>{{patient.birthday}} (AGE {{age}})</td>
	</tr>
	<tr>
		<td><b>Phone:</b></td>
		<td>{{patient.phone}}</td>
	</tr>
	
	<tr>
		<td><b>Email:</b></td>
		<td>{{patient.email}}</td>
	</tr>
	</table>
<form method="POST" name="create-link" id="create-link" action="/referring/patientSSNlink/">
{% csrf_token %}
	<input type="hidden" name="ssn" value={{patient.ssn}}/>
	<input type="submit" name="sumbitbutton" class="button" id="sumbitbutton" value="CONFIRM" style="margin-left: 50px; margin-top: 5px;"/>
</form>
</div>