<script>
	$(document).ready(function() {
		$(".patient-goto").button({
			icons: {
				primary: "ui-icon-carat-1-e"
			},
			text: false
		});
		$('#dash-summary').dataTable({
			"bPaginate" : true,
			"bLengthChange" : false,
			"bFilter" : false,
			"oLanguage" : {
				"sSearch" : "<img src='{{STATIC_URL}}referring/images/find.png' />"
			},
			"bSort" : true,
			"bInfo" : false,
			"bAutoWidth" : false,
			"bRetrieve" : true,
			"bJQueryUI" : false,
			"iDisplayLength" : 10,
			"sPaginationType" : "full_numbers"
		});
	});
</script>
<div id="dash-header">
	<div class="title-text">Dr. {{doctor}}</div>
</div>
<div id="dash-overview">
	<div id="dash-float-1" class="dash-float {% if msg == 0 %}grey-out{% endif %}">
		<div class="big">{{msg}}</div>
		New Messages
	</div>
	<div id="dash-float-2" class="dash-float {% if diagnosis == 0 %}grey-out{% endif %}">
		<div class="big">{{diagnosis}}</div>
		New Diagnoses
	</div>
	<div id="dash-float-3" class="dash-float {% if reschedule == 0 %}grey-out{% endif %}">
		<div class="big">{{reschedule}}</div>
		Reschedule Notices
	</div>
	<div id="dash-float-4" class="dash-float {% if schedule == 0 %}grey-out{% endif %}">
		<div class="big">{{schedule}}</div>
		Awaiting Scan
	</div>
</div>
<div id="dash-main">
	<table id="dash-summary">
		<thead>
		<tr>
			<th width="120px">Event</th>
			<th>Summary</th>
			<th width="180px">Date/Time</th>
			<th width="60px">Case</th>
		</tr>
		</thead>
		<tbody>
		{% for message in messages %}
		<tr>
			{% if message.type == -1%}
			<td align="center">Chat</td>
			{% endif %}
			{% if message.type == 0 %}
			<td align="center">SCHEDULED</td>
			{% endif %}
			{% if message.type == 1 %}
			<td align="center">CONCELLED</td>
			{% endif %}
			{% if message.type == 2 %}
			<td align="center">RESCHEDULE</td>
			{% endif %}
			{% if message.type == 3 %}
			<td align="center">DICOM FILE</td>
			{% endif %}
			{% if message.type == 4 %}
			<td align="center">DIAGNOSIS</td>
			{% endif %}
			{% if message.type == 5 %}
			<td align="center">ANALYSIS</td>
			{% endif %}
			<td>{{message.content}}</td>
			<td align="center">{{message.create_time}}</td>
			<td align="center"><a class="patient-goto dashlink" href="/referring/patientCase/" patientid="{{message.case.id}}">d</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>