<script>
	$(document).ready(function() {
		$("table#dash-summary tr:even").css("background-color", "#F4F4F8");
		$("table#dash-summary tr:odd").css("background-color", "#EFF1F1");
		$(".patient-goto").button({
			icons: {
				primary: "ui-icon-carat-1-e"
			},
			text: false
		});
	});
	function goToPatient(id) {
		
	}
</script>
<div id="dash-header">
	<div class="title-text">Dr. {{doctor}}</div>
</div>
<div id="dash-overview">
	<div id="dash-float-1" class="dash-float">
		<div class="big">{{msg}}</div>
		New Messages
	</div>
	<div id="dash-float-2" class="dash-float">
		<div class="big">{{schedule}}</div>
		Patients Scheduled
	</div>
	<div id="dash-float-3" class="dash-float">
		<div class="big">{{cancelled}}</div>
		Patients Scheduled
	</div>
	<div id="dash-float-4" class="dash-float">
		<div class="big">{{reschedule}}</div>
		Reschedule Notices
	</div>
	<div id="dash-float-5" class="dash-float">
		<div class="big">{{analysis}}</div>
		New Analysis
	</div>
	<div id="dash-float-6" class="dash-float">
		<div class="big">{{dicom}}</div>
		New Dicoms
	</div>
	<div id="dash-float-7" class="dash-float">
		<div class="big">{{diagnosis}}</div>
		New Diagnosis
	</div>
</div>
<div id="dash-main">
	<table id="dash-summary">
		<tr>
			<th width="120px">Event</th>
			<th>Summary</th>
			<th width="180px">Date</th>
			<th width="60px">More</th>
		</tr>
		{% for message in messages %}
		<tr>
			{% if message.type == -1%}
			<td align="center">Chat</td>
			{% endif %}
			{% if message.type == 0 %}
			<td align="center">SCHEDULED</td>
			{% endif %}
			{% if message.type == 1 %}
			<td align="center">CONCELLED</td>
			{% endif %}
			{% if message.type == 2 %}
			<td align="center">RESCHEDULE</td>
			{% endif %}
			{% if message.type == 3 %}
			<td align="center">DICOM FILE</td>
			{% endif %}
			{% if message.type == 4 %}
			<td align="center">DIAGNOSIS</td>
			{% endif %}
			{% if message.type == 5 %}
			<td align="center">ANALYSIS</td>
			{% endif %}
			<td>{{message.content}}</td>
			<td align="center">{{message.create_time}}</td>
			<td align="center"><a class="patient-goto dashlink" href="patients.htm" patientid="2">d</a></td>
		</tr>
		{% endfor %}
	</table>
</div>