<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/subpage.js"></script>
<script src="js/referring.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">diagnosis list</div>

<!-- PAGE CONTENT -->

<table id="diagnosis-table">
	<thead>
		<tr>
			<th width="200px">Name</th>
			<th width="50px">Gender</th>
			<th width="50px">Age</th>
			<th width="120px">Last Updated</th>
			<th width="180px"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td><a href="#" class="showbutton" show="patients2" load="patient-info.htm">Info</a></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Patient One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
		<tr>
			<td>Test One</td>
			<td>Male</td>
			<td>22</td>
			<td>07/10/2012</td>
			<td></td>
		</tr>
	</tbody>
</table><input type="button" onClick="reset_dt_view();" value="reset" />
