<html>
	
	<head>
		
		<title>Referring Doctor - QuantMD</title>
		
		<!-- Import Scripts -->
		<script src="{{STATIC_URL}}common/js/jquery.js"></script>
		<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}common/js/datatables.js"></script>
		<script src="{{STATIC_URL}}common/js/jscrollpane.js"></script>
		<script src="{{STATIC_URL}}common/js/mousewheel.js"></script>
		<script src="{{STATIC_URL}}common/js/common.js"></script>

		<!-- Import Styles -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/datatables.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/common.css" />
		
		<!-- Local Scripts & Styles -->
		<script src="js/referring.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}referring/css/referring.css" />
		
	</head>
	
	<body>
	
		<div id="wrapper">
		
			<!-- User Box Section -->
			<div id="user-box">
				<div id="user-box-text"><center>WELCOME, <b>{{Profile.first_name}}</b>&nbsp; <img src="{{STATIC_URL}}common/images/drop-arrow.png" /></center></div>
				<div id="user-box-options">
					<div id="user-box-options-text">
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#">ACCOUNT SETTINGS</a><p />
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
					</div>
				</div>
			</div>
			
			<!-- Navigation Bar -->
			<div id="navbar">
				<img id="nav-patients" class="showbutton" show="patients" load="/referring/patientsInfo/" src="{{STATIC_URL}}referring/images/icon-patients.png" />&nbsp;
				<img id="nav-schedule" class="showbutton" show="schedule" load="/referring/appointmentsInfo/" src="{{STATIC_URL}}referring/images/icon-schedule.png" />&nbsp; 
				<img id="nav-diagnosis" class="showbutton" show="diagnosis" load="/referring/diagnosisesInfo/" src="{{STATIC_URL}}referring/images/icon-diagnosis.png" />&nbsp;
				<img id="nav-messages" class="showbutton" show="messages" load="messages.htm" src="{{STATIC_URL}}referring/images/icon-messages.png" />
			</div>
			
			<!-- MAIN CONTENT AREA -->
			
			<div id="drag-container">
			
				<div id="patients" class="windows">
					<div id="patients-close" class="hidebutton">X</div>
					<div id="patients-content" class="content">
						
					</div>
				</div>
				
				<div id="patients2" class="windows">
					<div id="patients2-close" class="hidebutton">X</div>
					<div id="patients2-content" class="content">
						
					</div>
				</div>
				
				<div id="schedule" class="windows">
					<div id="schedule-close" class="hidebutton">X</div>
					<div id="schedule-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="diagnosis" class="windows">
					<div id="diagnosis-close" class="hidebutton">X</div>
					<div id="diagnosis-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="messages" class="windows">
					<div id="messages-close" class="hidebutton">X</div>
					<div id="messages-content" class="content">
						hello world
					</div>
				</div>
			
			</div>
		
		</div>

		<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>
		
		<!-- Footer Bar -->
		<div id="footer">
			<div id="footer-left">
				<div id="footer-left-logo"><img src="{{STATIC_URL}}common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
				<div>&nbsp; &#0169; 2012 QUANTMD</div>
			</div>
			<div id="footer-right">
				<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
			</div>
		</div>
	
	</body>
	
</html>