<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">diagnoses list</div>

<!-- PAGE CONTENT -->

<table id="individual-diagnosis-table">
	<thead>
		<tr>
			<th width="130px">Case ID</th>
			<th width="110px">Patient Name</th>
			<th width="120px">Request Date</th>
			<th width="120px">Received Date</th>
			<th width="60px"></th>
		</tr>
	</thead>
	<tbody>
		{% for k,v in Cases.iteritems %}
		<tr>
			<td>{{k.id}}</td>
			<td>{{Patient.first_name}} {{Patient.middle_name}} {{Patient.last_name}}</td>
			<td>{{k.createTime}}</td>
			<td>{{v.create_time}}</td>
			<td><a href="#" class="panebutton" load="/referring/patientCase/{{k.id}}/"><img src="{{STATIC_URL}}referring/images/folder_full.png" height="30" width="30"></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<div id="reset">
	<input type="button" onClick="reset_dt_view();" value="reset" />
</div>
<a href="#" id="back-diagnosis" class="panebutton" load="patients.htm"><img src="{{STATIC_URL}}referring/images/back_small.png" height="16" width="16">&nbsp;BACK
</a>
		