<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</div>

<!-- PAGE CONTENT -->
<table class="right-table">
	<tr>
		<td width="100px"><img src="{{STATIC_URL}}referring/images/user.png" height="50"
			width="50"> <br /> <a href="#" class="panebutton"
			load="/referring/patientInfo/{{patient.ssn}}/"><font size="2">PATIENT INFO</font></a></td>
		<td width="100px"><img src="{{STATIC_URL}}referring/images/heart.png" height="50"
			width="50"> <br /> <a href="#" class="panebutton" load="/referring/mriInfo/{{center.id}}/"><font size="2">VIEW MRI</font></a></td>			
	</tr>
</table>

<table class="left-table">
	<tr>
		<td>{{patient.address}},{{patient.address2}}, {{patient.city}}, {{patient.state}},{{patient.zip}}</td>
		<td><a href="#">&nbsp;<img src="{{STATIC_URL}}referring/images/pen.png" /></a></td>
	</tr>
	<tr>
		<td><b>Gender:</b></td>	
		{% if patient.gender == 1 %}
			<td>Male</td>
			{% endif %}
		{% if patient.gender == 0 %}
			<td>Female</td>
			{% endif %}
	</tr>
	<tr>
		<td><b>Birthday:</b></td> 
		<td>{{patient.birthday}}</td>
	</tr>
</table>

<div class="bottom-pane">
	<table>
		<tr>
			<td><img src="{{STATIC_URL}}referring/images/folder.png" height="25" width="25">&nbsp;FINAL
				DIAGNOSIS</td>
		</tr>
		<tr>
			<td>{{report.content}}<br />
			</td>
		</tr>
		<tr>
			<td><img src="{{STATIC_URL}}referring/images/comments.png" height="25" width="25">&nbsp;CORRESPONDENCE</td>
		</tr>
		<tr>
			<td><form name="individualdiagnosismessageform" id="individualdiagnosismessageform"  action="" method="post">
					<textarea id="new-entry" cols="80" rows="10"></textarea>
					<br/> <input type="submit" name="rd-message-sendbutton"
						class="button" value="SEND"
						style="margin-top: 5px; margin-left: 565px;">
				</form></td>
		</tr>
	</table>

</div>
<a href="#" id="back-diagnosis" class="panebutton" load="diagnosis.htm">
	<img src="{{STATIC_URL}}referring/images/back_small.png" height="16" width="16"
	style="margin-top: 10px;">&nbsp;BACK
</a>

<script>
  /* attach a submit handler to the form */
  $("#individualdiagnosismessageform").submit(function(event) {

    /* stop form from submitting normally */
    event.preventDefault(); 
        
    /* get some values from elements on the page: */
    var $form = $( this ),
        url = $form.attr( 'action' );

    /* Send the data using post and put the results in a div */
    $.post( url, $("#individualdiagnosismessageform").serialize(),
      function( data ) {
          $( "#diagnosis" ).empty().append($(data));
      }
    );
  });
</script>