<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>


<script>
	$(document).ready(function() {
		$('.data-table').dataTable({
		"bPaginate": false,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
});
</script>

<table name="message-table" id="message-table" class="data-table">
	<thead>
		<tr><th></th></tr>
	</thead>
	<tbody>
		<tr><td>
			<a href="message-view.htm" class="msgloadright">
				<div class="message-list-line">
					<span class="header">Helo World</span><br />
					Tan Ah Beng<br />
					October 17, 2012
				</div>
			</a>
		</td></tr>
		<tr><td>
			<a href="message-view.htm" class="msgloadright">
				<div class="message-list-line">
					<span class="header">Helo World</span><br />
					Tee Ah Beng<br />
					October 19, 2012
				</div>
			</a>
		</td></tr>
		<tr><td>
			<a href="message-view.htm" class="msgloadright">
				<div class="message-list-line">
					<span class="header">Helo World</span><br />
					Tan Ah Beng<br />
					October 17, 2012
				</div>
			</a>
		</td></tr>
		<tr><td>
			<a href="message-view.htm" class="msgloadright">
				<div class="message-list-line">
					<span class="header">Helo World</span><br />
					Tan Ah Beng<br />
					October 17, 2012
				</div>
			</a>
		</td></tr>
		<tr><td>
			<a href="message-view.htm" class="msgloadright">
				<div class="message-list-line">
					<span class="header">Helo World</span><br />
					Tan Ah Beng<br />
					October 17, 2012
				</div>
			</a>
		</td></tr>
	</tbody>
</table>