<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
	$(".replybutton").button({
		icons: {
			primary: "ui-icon-search"
		}
	});
});
</script>
<div class="title-text">Helo, World</div>
Message here
<br />
<form id="message-reply" name="message-reply">
<input type="hidden" id="message-id" name="message-id" />
Reply:<br />
<textarea></textarea>
<br />
<input type="button" id="submit-message-reply" class="replybutton" value="Reply" />
</form>