<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script>
function msgRead(mid) {
	$("#msg-unread-"+mid).empty();
}
</script>
<table name="message-table" id="message-table" class="data-table">
	<thead style="display: none">
		<tr><th></th></tr>
	</thead>
	<tbody>
		{% for message in messages %}
		<tr><td>
			<a onClick="msgRead({{message.pk}});" href="/message/message_dialog/{{message.case_id}}/{{message.is_sys}}/{{message.pk}}/" class="msgloadright">
				<div class="message-list-line">
					<div class="header">
						{% if message.is_sys %}
							System Message
						{% else %}
							{{message.sender}}
						{% endif %}
						<span class="unread" id="msg-unread-{{message.pk}}">
							{% if message.is_read %}
								
							{% else %}
								<img src='{{STATIC_URL}}referring/images/unread.png' /> 
							{% endif %}
						</span>
					</div>
						{% if message.is_sys %}
						    {{message.title}}
						{% else %}
						    Chat - Case #{{message.case_id}}
						{% endif %}
						<br />
					<span class="grey">{{message.create_time}}</span>
				</div>
			</a>
		</td></tr>
		{% endfor %}		
	</tbody>
</table>