<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$("#updating-text").html("<br /><br /><br /><center><img src='{{STATIC_URL}}common/images/loading.gif' width='30px' height='30px' /><br />Loading</center>");
	$("#inner-left-messages").hide();
	$("#inner-left-messages").load('/message/message_list/' , function() {
		$('#message-table').dataTable({
			"bPaginate": false,
			"oLanguage": {
			  "sSearch": "<img src='{{STATIC_URL}}common/images/find.png' />"
			},
			"bLengthChange": false,
			"bFilter": true,
			"bSort": false,
			"bInfo": false,
			"bAutoWidth": false,
			"bRetrieve": true,
			"bJQueryUI": false,
			"iDisplayLength": 20,
			"sPaginationType": "full_numbers"
		});
		$("#updating-text").empty();
		$("#inner-left-messages").fadeIn(300);
	});
	$("#btn-messages-refresh").button({
		icons: {
			primary: "ui-icon-refresh"
		}
	});
	$("#btn-messages-refresh").click(function() {
		$("*").css("cursor", "wait");
		$("#updating-text").html("<br /><br /><br /><center><img src='{{STATIC_URL}}common/images/loading.gif' width='30px' height='30px' /><br />Refreshing</center>");
		$("#inner-left-messages").fadeOut('fast', function() {
			$("#inner-left-messages").load('/message/message_list/', function() {
				$('#message-table').dataTable({
					"bPaginate": false,
					"oLanguage": {
					  "sSearch": "<img src='{{STATIC_URL}}common/images/find.png' />"
					},
					"bLengthChange": false,
					"bFilter": true,
					"bSort": false,
					"bInfo": false,
					"bAutoWidth": false,
					"bRetrieve": true,
					"bJQueryUI": false,
					"iDisplayLength": 20,
					"sPaginationType": "full_numbers"
				});
				$("#inner-left-messages").fadeIn(300);
				$("#updating-text").empty();
				$("*").css("cursor", "");
			});
		});
	});
});
</script>
<div id="left-bar">
	<div id="messages-inner-left">
		<button id="btn-messages-refresh">Refresh</button>
		<br />
		<div id="updating-text"></div>
		<div id="inner-left-messages">
			
		</div>
	</div>
</div>
<div id="right-bar">
	<div id="messages-inner-right">
		<center>Select a message</center>
	</div>
</div>
<img src='{{STATIC_URL}}common/images/loading.gif' width='1px' height='1px' />