<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
	$(".replybutton").button({
		icons: {
			primary: "ui-icon-search"
		}
	});
	$("#message-reply").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );
			
		$("#messages-inner-right").hide();
    /* Send the data using post and put the results in a div */
		$.post( url, $("#message-reply").serialize(),
		function( data ) {
			$("#messages-inner-right").empty().append($(data));
			$("#messages-inner-right").fadeIn('fast');
		}
		);
     });
});
</script>
{% if messages %}
	<div class="title-text">Case #{{messages.0.case_id}} Messages</div>
		{{messages.0.case.patient}}<br /><br />

{% endif %}
{% for message in messages %}
	{% if message.receiver_id == user.pk %}
	<div class="chat-bubble">
		<div class="chat-bubble-glare"></div>
		{% if message.is_sys %}
			<b>{{message.title}}</b><br />
		{% else %}
			<b>{{message.sender}}</b><br />
		{% endif %}
		{{message.create_time}}<p />
		{{ message.content }}<br />
		<div class="chat-bubble-arrow-border"></div>
		<div class="chat-bubble-arrow"></div>
	</div>
	{% else %}
	<div class="chat-bubble-right">
		<div class="chat-bubble-glare"></div>
		<b>Message Sent</b><br />
		{{message.create_time}}<p />
		{{ message.content }}<br />
		<div class="chat-bubble-arrow-border-right"></div>
		<div class="chat-bubble-arrow-right"></div>
	</div>
	{% endif %}
	<br />
{% endfor %} 

{% if not is_sys %}
<center>
<form id="message-reply" method="POST" action="/message/send/">
	{% csrf_token %}
	<input type="hidden" name="receiver_id" value="{{sender_id}}" />
	<input type="hidden" name="case_id" value="{{messages.0.case_id}}" />
	<textarea name="content" cols="50" rows="4"></textarea>
	<br /><br />
	<input type="submit" id="submit-message-reply" class="replybutton" value="Reply" />
</form>
</center>
{% endif %}