<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$("#inner-left-messages").load('messages-list.htm');
	$("#btn-messages-refresh").button({
		icons: {
			primary: "ui-icon-refresh"
		}
	});
	$("#btn-messages-refresh").click(function() {
		$("*").css("cursor", "wait");
		$("#updating-text").html('<br />Refreshing...');
		$("#inner-left-messages").fadeOut('fast', function() {
			$("#inner-left-messages").load('messages-list.htm', function() {
				$("#inner-left-messages").fadeIn('fast');
				$("#updating-text").empty();
				$("*").css("cursor", "");
			});
		});
	});
});
</script>
<div id="left-bar">
	<div id="messages-inner-left">
		<button id="btn-messages-refresh">Refresh</button>
		<br />
		<div id="updating-text"></div>
		<div id="inner-left-messages">
			
		</div>
		
	</div>
</div>
<div id="right-bar">
	<div id="messages-inner-right">
		Select a patient to proceed.
	</div>
</div>