<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />

<script>
	$(document).ready(function() {
	$("#create-patient-complete").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Create Patient</div>
<br />
Patient {{patient}} Successfully Created

<br /><br />
<span class="orange">
<a id="create-patient-complete" href="/referring/patientInfo/{{patient.id}}/" class="orange loadright">Back to Patient</a></span>
