<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
		$("table#case-table tr:even").css("background-color", "#F4F4F8");
		$("table#case-table tr:odd").css("background-color", "#EFF1F1");
	$("#edit-patient").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#create-case-button").button({
		icons: {
			primary: "ui-icon-plus"
		}
	});
	$(".viewcasebutton").button({
		icons: {
			primary: "ui-icon-search"
		},
		text:false
	});
});
</script>
<div id="case-info-nav">
	<a id="edit-patient" href="/referring/editPatientView/{{patient.id}}/" class="loadright">Edit</a>
	<span class="orange"><a id="create-case-button" href="/referring/appointmentsInfo/{{patient.id}}/" class="orange loadright">New Appointment</a></span>
</div>
<div class="title-text">{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</div>
SSN: {{patient.ssn}}<br/>
Birthday: {{patient.birthday}}<br />
{% if patient.gender == 1 %}
			Gender:Male
			{% endif %}
		{% if patient.gender == 0 %}
			Gender:Female
			{% endif %}<br />
Address: {{patient.address}} {{patient.address2}}<br>{{patient.city}},{{patient.state}},{{patient.zip}}<br/>
Phone: {{patient.phone}}<br/>
Email: {{patient.email}}<br/>
<br/>

<br /><br />

<div class="small-title">Case History</div>
	{% if not appointments %}
		No cases available. Create a new appointment for this patient.
	{% endif %}
	
	{% if appointments %}
		<table id="case-table">
		<tr>
			<th width="150px">Case ID</th>
			<th width="150px">Date Opened</th>
			<th>Case Summary</th>
			<th width="150px">Status</td>
			<th width="100px"></td>
		</tr>
		{% for appointment in  appointments%}
		<tr>
			<td align="center">CASE#{{appointment.case.id}}</td>
			<td align="center">{{appointment.case.create_time}}</td>
			{% if appointment.case.status == -1%}
			<td>Case has been cancelled</td>
			<td align="center">Cancelled</td>
			{% endif %}
			{% if appointment.case.status == 0 or appointment.case.status == 1%}
			<td>An appointment in {{appointment.mri.name}} at {{appointment.schedule.start_time}} on {{appointment.schedule.date}}</td>
			<td align="center">Waiting to SCAN</td>
			{% endif %}
			{% if appointment.case.status == 2 or appointment.case.status == 3 or appointment.case.status == 4%}
			<td>MRI data has been uploaded on {{appointment.case.data.create_time}}</td>
			<td align="center">Waiting Diagnosis</td>
			{% endif %}
			{% if appointment.case.status == 5 or appointment.case.status == 6%}
			<td>Diagnosis has been uploaded on {{appointment.case.report.create_time}}</td>
			<td align="center">Complete</td>
			{% endif %}
			<td align="center"><a href="/referring/patientCase/{{appointment.case.id}}/" class="loadright viewcasebutton">View Case</a></td>
		</tr>
		{% endfor %}
	{% endif %}
</table>