<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
		$("table#case-table tr:even").css("background-color", "#F4F4F8");
		$("table#case-table tr:odd").css("background-color", "#EFF1F1");
	$("#edit-patient").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#create-case-button").button({
		icons: {
			primary: "ui-icon-plus"
		}
	});
	$(".viewcasebutton").button({
		icons: {
			primary: "ui-icon-search"
		},
		text:false
	});
});
</script>
<div id="case-info-nav">
	<a id="edit-patient" href="patient-edit.htm" class="loadright">Edit</a>
	<span class="orange"><a id="create-case-button" href="/referring/appointmentsInfo/{{patient.id}}/" class="orange loadright">New Appointment</a></span>
</div>
<div class="title-text">{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</div>
SSN: {{patient.ssn}}<br/>
Birthday: {{patient.birthday}}<br />
{% if patient.gender == 1 %}
			Male
			{% endif %}
		{% if patient.gender == 0 %}
			Female
			{% endif %}<br />
Address: {{patient.address}} {{patient.address2}}<br>{{patient.city}},{{patient.state}},{{patient.zip}}<br/>
Phone: {{patient.phone}}<br/>
Email: {{patient.email}}<br/>
<br/>

<br /><br />
<div class="small-title">Case History</div>
<table id="case-table">
	<tr>
		<th width="150px">Date Opened</th>
		<th>Case Summary</th>
		<th width="150px">Status</td>
		<th width="100px"></td>
	</tr>
	<tr>
		<td align="center">Oct 19, 2009</td>
		<td>Blah blah blah</td>
		<td align="center">Complete</td>
		<td align="center"><a href="case-view.htm" class="loadright viewcasebutton">View Case</a></td>
	</tr>
	<tr>
		<td align="center">Oct 19, 2009</td>
		<td>Blah blah blah</td>
		<td align="center">Complete</td>
		<td align="center"><a href="case-view.htm" class="loadright viewcasebutton">View Case</a></td>
	</tr>
</table>