<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />

<script>
	$(document).ready(function() {
	$("#edit-patient-complete").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Edit Patient</div>
<br />
Patient MICHAEL, SHAMOS successfully edited at DATETIME stamp.

<br /><br />
<span class="orange">
<a id="edit-patient-complete" href="patient-info.htm" class="orange loadright">Back to Patient</a></span>
