<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>

<table id="patients-table" class="data-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="40px">Sex</th>
			<th width="100px">Birthday</th>
		</tr>
	</thead>
	<tbody>
		{% for patient in patients%}
		<tr>
			<td><b><a href="/referring/patientInfo/{{patient.id}}/" class="loadright">{{patient}}</a></b></td>
			{% if patient.gender == 1 %}
			<td align="center">Male</td>
			{% endif %}
			{% if patient.gender == 0 %}
			<td align="center">Female</td>
			{% endif %}
			<td><center>{{patient.birthday|date:"SHORT_DATE_FORMAT"}}<center></td>
		</tr>
		{% endfor %}
	</tbody>
</table>