<!-- JAVASCRIPT LIBRARY IMPORTS -->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}referring/js/referring.js"></script>


<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">Select MRI Center</div>

<!-- PAGE CONTENT -->
<div  style="margin-left: 15px; margin-bottom:15px;">
            <form name="select-center" id="select-center"  method="POST" action="/referring/appointmentsSearch/">{% csrf_token %}
            <b>Date:</b>&nbsp;
            <input  size="15" type="text" name="popup-schedule-date" id="popup-schedule-date" class="textfield"/>&nbsp;&nbsp;&nbsp;
            <b>Location:</b>&nbsp;
            <input  size="30" type="text" name="popup-schedule-location" id="textfield-textfield" placeholder="Patient Zip" class="textfield"/>
            &nbsp;&nbsp;&nbsp;
            <input type="submit" name="searchbutton" class="button" id="searchbutton" value="SEARCH" style="font-size:12px;"/></form></div>
            <hr style="clear: both;">
            
			{%if centers %}
			<div style="overflow:auto; height:300px; width: 720px;">
			<table class="display-table">
			<tr><th width="300px">Center Name</th>
			<th width="290px">Address</th>
			<th width="110px">Info & Schedule</th>
			</tr>
			{% for center in centers %}
			<tr>
			<td><b>{{center.name}}</b>
			<td>{{center.address}} {{center.address2}}<br>{{center.city}}, {{center.state}}, {{center.zip}}</td>
			<td><div id="info" class = "panebutton" load = "/referring/mriInfo/{{center.id}}/"><a href="#"><img src="{{STATIC_URL}}referring/images/info.png" width="30" height="30"/>&nbsp;INFO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><br>
			<div id="schedule" class = "panebutton" load = "/referring/mriSchedule/{{center.id}}/"><a href="#"><img src="{{STATIC_URL}}referring/images/calendar_empty.png" width="30" height="30" id=/>&nbsp;SCHEDULE</a></div></td>
			</tr>
			{% endfor %}
			</table></div>
			{% endif %}

