<link rel="stylesheet" type="text/css" href="css/referring.css" />
<script>
	$(document).ready(function() {
		$("table#case-table tr:even").css("background-color", "#F4F4F8");
		$("table#case-table tr:odd").css("background-color", "#EFF1F1");
		$("#case-back").button({
			icons: {
				primary: "ui-icon-arrowthick-1-w"
			}
		});
		$('#mri-image-1').fadeIn(100);
	});
	function prevImage(curr) {
		if(curr == 1) {
			alert('min!');
		} else {
			var toPos = curr - 1;
			$('#mri-image-'+curr).fadeOut(100,function() {
				$('#mri-image-'+toPos).fadeIn(100);
			});
		}
	}
	function nextImage(curr) {
		if(curr == {{data.image_count}}) {
			alert('max!');
		} else {
			var toPos = curr + 1;
			$('#mri-image-'+curr).fadeOut(100,function() {
				$('#mri-image-'+toPos).fadeIn(100);
			});
		}
	}
	
</script>
<div class="title-text">MRI Viewer</div>
<br />
{% for obj in image_objs %}
<div id="mri-image-{{obj.0}}" class="mri-image">
	<div class="image-placeholder">
		<img src="{{MEDIA_URL}}dicom/{{data.name}}/{{obj.1}}" width="550px" height="550px" />
		<div class="com_header">{{obj.2}}</div>
		
		{% if obj.0 != 1 %}<div class="btn_left" onClick="prevImage({{obj.0}})">PREV</div>{% endif %}
		{% if obj.0 != data.image_count %}<div class="btn_right" onClick="nextImage({{obj.0}})">NEXT</div>{% endif %}
		<div class="position">{{obj.0}} / {{data.image_count}}</div>
	</div>
	<br />
	{{obj.3}}
	<br />
</div>
{% endfor %}