<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
	$("#diagnosis-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>
<div id="patient-info-nav">
	<span class="orange"><a id="diagnosis-back" href="case-view.htm" class="orange loadright">Back to Case</a></span>
</div>
<div class="title-text">Case #1343 Diagnosis</div>
Michael, Shamos<br />
October 10, 1980<br />
Male<br />
<br />
Attributes here (status, etc)
<br /><br />
All messages...
<br /><br />
<div class="small-title">Case History</div>
<br />

