<link rel="stylesheet" type="text/css" href="css/referring.css" />
<script>
	$(document).ready(function() {
		$("table#schedule-table tr:even").css("background-color", "#F4F4F8");
		$("table#schedule-table tr:odd").css("background-color", "#EFF1F1");
		$("#case-back").button({
			icons: {
				primary: "ui-icon-arrowthick-1-w"
			}
		});
		$('#mri-image-1').fadeIn(100);
	});
	function prevImage(curr) {
		if(curr == 1) {
			alert('min!');
		} else {
			var toPos = curr - 1;
			$('#mri-image-'+curr).fadeOut(100,function() {
				$('#mri-image-'+toPos).fadeIn(100);
			});
		}
	}
	function nextImage(curr) {
		if(curr == 6) {
			alert('max!');
		} else {
			var toPos = curr + 1;
			$('#mri-image-'+curr).fadeOut(100,function() {
				$('#mri-image-'+toPos).fadeIn(100);
			});
		}
	}
	
</script>
<div class="title-text">{{mri.id}}</div>
<br />
Phone: {{mri.phone}}</br>
Email: {{mri.email}}</br>
Address: {{mri.address}} {{mri.address2}}, {{mri.city}}, {{mri.state}} {{mri.zip}}</br>

<br />
<table id="schedule-table">
	<tr>
		<th width="150px">Date</th>
		<th>Time Slots</th>
	</tr>
	{% for k in dic%}
	<tr>
		<td align="center">{{k.0}}</td>
		<td>{% for schedule in k.1 %}
			{% if schedule.is_available%}
			{{schedule.start_time|time:"H:i"}},
			{% else %}
			<strike>{{schedule.start_time|time:"H:i"}}</strike>,
			{% endif %}
		{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
<br />
		
<br /><br />
