<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script>
	$(document).ready(function() {
		$('#change-password-form').submit(function(event) {
			event.preventDefault(); 
			$('#change-password').css("margin-left",-10000)
			var $form = $( this ),
					url = $form.attr( 'action' );
			$.post( url, $form.serialize(),
				function( data ) {
					$("#change-password").empty().append($(data));
					$('#change-password').css("margin-left",-160)
				}
			);
		});
		$(".btn").button({
			icons: {
				primary: "ui-icon-plus"
			},
			text: false
		});
	});
</script>
<div class="title-text">Change Password</div>

{% for message in messages %}
<div class="span8 offset2">
	<div class="alert {% if message.tags == 'error' %}alert-error{% endif %}">
		{{message}}
	</div>
</div>
{% endfor %}
<form id="change-password-form" action="/changePassword/" method = "post"> {% csrf_token %}
	<table class="formtable">
		<tr>
			<td width="120px">Old Password</td>
			<td><input type="password" name="old" /></td>
		</tr>
		<tr>
			<td width="120px">New Password</td>
			<td><input type="password" name="new" /></td>
		</tr>
		<tr>
			<td width="120px">New Password (Again)</td>
			<td><input type="password" name="confirm" /></td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="hidden" name="user_id" value="1" />
			<input type="submit" class="btn" value="Change Password" />
			<input type="button" class="btn" value="Cancel" onClick="closeChangepass();" />
			</td>
		</tr>
	</table>
</form>