<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("#checkout-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Check-In Cancelled</div>
<br />
The check-in for <b>{{patient}}</b> has been cancelled on {{date}}
<br /><br />
<span class="orange"><a href="/receptionist/registerList/" id="checkout-back" class="orange innerlink">Back</a></span>
