<html>
	
	<head>
		
		<title>Registration - QuantMD</title>
		
		<!-- Import Scripts -->
		<script src="{{STATIC_URL}}common/js/jquery.js"></script>
		<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}common/js/datatables.js"></script>
		<script src="{{STATIC_URL}}common/js/jscrollpane.js"></script>
		<script src="{{STATIC_URL}}common/js/mousewheel.js"></script>
		<script src="{{STATIC_URL}}common/js/common.js"></script>

		<!-- Import Styles -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/common.css" />
		
		<!-- Local Scripts & Styles -->
		<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}receptionist/css/receptionist.css" />
		
	</head>
	
	<body>
	
		<div id="wrapper">
		
			<!-- User Box Section -->
			<div id="user-box">
				<div id="user-box-text"><center>WELCOME, <b>{{profile.last_name}}</b>&nbsp; <img src="{{STATIC_URL}}common/images/drop-arrow.png" /></center></div>
				<div id="user-box-options">
					<div id="user-box-options-text">
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#">ACCOUNT SETTINGS</a><p />
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
					</div>
				</div>
			</div>
			
			<!-- Navigation Bar -->
			<div id="navbar">
				<img id="nav-register" class="showbutton" show="register" load="/receptionist/registerList/" src="{{STATIC_URL}}receptionist/images/icon-register.png" />&nbsp;
				<img id="nav-schedule" class="showbutton" show="schedule" load="/receptionist/scheduleList/" src="{{STATIC_URL}}receptionist/images/icon-schedule.png" />&nbsp; 
				<img id="nav-timeslot" class="showbutton" show="timeslot" load="timeslot.htm" src="{{STATIC_URL}}receptionist/images/icon-timeslot.png" />&nbsp;
				<img id="nav-logs" class="showbutton" show="logs" load="/receptionist/logs/" src="{{STATIC_URL}}receptionist/images/icon-logs.png" />
			</div>
			
			<!-- MAIN CONTENT AREA -->
			
			<div id="drag-container">
			
				<div id="register" class="windows">
					<div id="register-close" class="hidebutton">X</div>
					<div id="register-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="schedule" class="windows">
					<div id="schedule-close" class="hidebutton">X</div>
					<div id="schedule-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="timeslot" class="windows">
					<div id="timeslot-close" class="hidebutton">X</div>
					<div id="timeslot-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="logs" class="windows">
					<div id="logs-close" class="hidebutton">X</div>
					<div id="logs-content" class="content">
						hello world
					</div>
				</div>
			
			</div>
		
		</div>

		<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>
		
		<!-- Footer Bar -->
		<div id="footer">
			<div id="footer-left">
				<div id="footer-left-logo"><img src="{{STATIC_URL}}common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
				<div>&nbsp; &#0169; 2012 QUANTMD</div>
			</div>
			<div id="footer-right">
				<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
			</div>
		</div>
	
	</body>
	
</html>