<html>
<head>

	<title>Login - QuantMD</title>

	<!-- Import Styles -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/jscrollpane.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/datatables.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/core.css" />
	
	<!-- Import Scripts -->
	<script src="{{STATIC_URL}}common/js/jquery.js"></script>
	<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
	<script src="{{STATIC_URL}}common/js/datatables.js"></script>
	<script src="{{STATIC_URL}}common/js/jscrollpane.js"></script>
	<script src="{{STATIC_URL}}common/js/mousewheel.js"></script>
	<script src="{{STATIC_URL}}common/js/core.js"></script>
	
	<!-- Local Scripts & Styles -->
	<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}receptionist/css/receptionist.css" />
	
</head>
<body>
	<div id="wrapper">
	
		<!-- User Box Section -->
		<div id="user-box">
			<div id="user-box-text"><center>WELCOME, <b>{{profile.first_name}}</b>&nbsp; <img src="{{STATIC_URL}}common/images/drop-arrow.png" /></center></div>
			<div id="user-box-options">
				<div id="user-box-options-text">
					&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#">ACCOUNT SETTINGS</a><p />
					&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
				</div>
			</div>
		</div>
			
		<div id="container">
			<div id="tabs-nohdr">
				<ul>
					<li><a href="/receptionist/registerList/"><span><img src='{{STATIC_URL}}receptionist/images/today.png' /> Today</span></a></li>
					<li><a href="patients.htm"><span><img src='{{STATIC_URL}}receptionist/images/patient.png' /> Patients</span></a></li>
					<li><a href="schedule.htm"><span><img src='{{STATIC_URL}}receptionist/images/schedule.png' /> Schedule</span></a></li>
					<li><a href="logs.htm"><span><img src='{{STATIC_URL}}receptionist/images/logs.png' /> Logs</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Footer Bar -->
	<div id="footer">
		<div id="footer-left">
			<div id="footer-left-logo"><img src="{{STATIC_URL}}common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
			<div>&nbsp; &#0169; 2012 QUANTMD</div>
		</div>
		<div id="footer-right">
			<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
		</div>
	</div>
	
	<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>

</body>
</html>