<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#log-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
});
</script>
<div class="title-text">Past Log</div>
<table id="log-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="80px">Sex</th>
			<th width="80px">Age</th>
			<th width="140px">Scheduled</th>
			<th width="140px">Check In</th>
			<th width="140px">Services</th>
		</tr>
	</thead>
	<tbody>
		{% for appointment in appointments%}
		<tr>
			<td>{{appointment.patient}}</td>
			<td align="center">
			{% if appointment.patient.gender == 1 %}
				Male
			{% endif %}
			{% if appointment.patient.gender == 0 %}
				Female
			{% endif %}	
			</td>
			<td align="center">{{appointment.patient.birthday}}</td>
			<td align="center">{{appointment.schedule.date}} {{appointment.schedule.start_time}}</td>
			<td align="center">{{appointment.check_in_time}}</td>
			<td align="center">
			{% for service in appointment.case.services.all%}
				{{service.name}}&nbsp
			{% endfor%}
		</td>
		</tr>
		{% endfor %}
	</tbody>
</table>