<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">logs</div>

<!-- PAGE CONTENT -->
<table id="logs-table">
	<thead>
		<tr>
			<th width="180px">Name</th>
			<th width="190px">Scheduled Time</th>
			<th width="170px">Registered Time</th>
			<th width="60px">Status</th>
			<th width="60px"></th>
		</tr>
	</thead>
	<tbody>
		{% for appointment in appointments%}
		<tr>
			<td>{{appointment.patient.first_name}} {{appointment.patient.middle_name}} {{appointment.patient.last_name}}</td>
			<td>{{appointment.schedule.start_time}}-{{appointment.schedule.end_time}}  {{appointment.schedule.date}}</td>
			<td>{{appointment.check_in_time}}</td>
			{% if appointment.is_cancelled %}
			<td>Cancelled</td>
			{% else %}
			<td>CheckIn</td>
			<td><a href="#" class="panebutton" load="/receptionist/registered_view/{{appointment.id}}/"><img src="{{STATIC_URL}}receptionist/images/delete.png" height="30" width="30" onClick="cancelregistration()"></a>&nbsp;</td>
			{%endif%}
			
		</tr>
		{% endfor %}
	</tbody>
</table><input type="button" onClick="reset_dt_view2();" value="reset" />

<div id="cancel-registration" title="Cancel Registration?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You are going to cancel the registration.<br /></p>
		</div>