<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/subpage.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">new appointment</div>

<!-- PAGE CONTENT -->
<div>
	<table>
		<tr>
			<td><img src="images/user.png" height="30px" width="30px">Patient
				Info</td>
			<td></td>
		</tr>
		<tr>
			<td><b>Name:</b></td>
			<td>Caroline Iowe</td>
		</tr>
		<tr>
			<td><b>Address:</b></td>
			<td>1010 FORBES AVENUE, PITTSBURGH, PA</td>
		</tr>
		<tr>
			<td><b>SSN:</b></td>
			<td>316-54-9089</td>
		</tr>
		<tr>
			<td><b>Gender:</b></td>
			<td>FEMALE</td>
		</tr>
		<tr>
			<td><b>Birthday:</b></td>
			<td>OCTOBER 10,1958 (AGE 54)</td>
		</tr>
		<tr>
			<td><b>Phone:</b></td>
			<td>412-345-6789</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table>
		<tr>
			<td>Old Appointment:</td>
			<td><b>10:00-10:30</b></td>
			<td><b>Jul 10 2012 Wed</b></td>
			<td><b>DENLEY MRI CENTER</b></td>
			<td width="160px"></td>
		</tr>
		<tr>
			<td>New Appointment:</td>
			<td><b>14:00-14:30</b></td>
			<td><b>Jul 15 2012 Mon</b></td>
			<td><b>DENLEY MRI CENTER</b></td>
			<td width="160px"></td>
		</tr>
		<tr>
			<td colspan="5"><input type="submit" class="button"
				value="CONFIRM THE REGISTRATION" style="float: right;"></td>
		</tr>
	</table>
</div>

<div class="footer-backbutton">
	<a href="#" id="back-registration-confirmation" class="panebutton"
		load="register.htm"> <img src="images/back_small.png" height="16"
		width="16">&nbsp;BACK
	</a>
</div>