<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		
		$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
});
$(function() {
	setTimeout(function() {
		$('#patients-table').dataTable({
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"oLanguage": {
			  "sSearch": "<img src='{{STATIC_URL}}/receptionist/images/find.png' />"
			},
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"bRetrieve": true,
			"bJQueryUI": false,
			"iDisplayLength": 20,
			"sPaginationType": "full_numbers"
		});
	},300);
});
</script>
<div class="title-text">Patients List</div>
<table id="patients-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="70px">Sex</th>
			<th width="90px">Birth Date</th>
			<th width="150px">Scheduled</th>
			<th width="80px">Reschedule</th>
		</tr>
	</thead>
	<tbody>
		{%if not appointments%}
		{% endif %}
		{% for appointment in appointments%}
		<tr>
			<td>{{appointment.patient}}</td>
			<td align="center">
			{% if appointment.patient.gender == 1 %}
				Male
			{% endif %}
			{% if appointment.patient.gender == 0 %}
				Female
			{% endif %}
			</td>
			<td align="center">{{appointment.patient.birthday}}</td>
			<td align="center">{{appointment.schedule.date}} {{appointment.schedule.start_time}}</td>
			<td align="center">
			<span class="orange"><a href="/receptionist/reschedule2/{{appointment.id}}/" class="orange reschedule innerlink">c</a></span>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>