<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("table#reschedule-table-2 tr:even").css("background-color", "#F4F4F8");
	$("table#reschedule-table-2 tr:odd").css("background-color", "#EFF1F1");
	$("#reschedule-back-2").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#rebooking-submit-2").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#checkout-confirm-2").button({
		icons: {
			primary: "ui-icon-check"
		}
	});
	$("#rebooking-form-2").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );
		
		$("#ui-tabs-2").hide();
    /* Send the data using post and put the results in a div */
		$.post( url, $("#rebooking-form-2").serialize(),
		function( data ) {
			$("#ui-tabs-2").empty().append($(data));
			$("#ui-tabs-2").fadeIn('fast');
		}
		);
     });
	$(".timebuttons").button();
	$(".timebuttons-disable").button({
		disabled: true
	});
	$("#rebookingdate").datepicker();
	$("#rebookingdate").datepicker('setDate', new Date());
});
</script>

<div class="title-text">Patient Reschedule</div>
{{appointment.patient}}<br />
{{appointment.patient.birthday}}
<br /><br />
<b>Current Appointment:</b> {{appointment.schedule.date}} {{appointment.schedule.start_time}}
<br /><br />

{% if errors %}
	{% for error in errors %}
		<span class="red">{{error}}</span><br />
	{% endfor %}
	<br />
{% endif %}

<div class="small-title">Rebooking Slots</div>
<form id="rebooking-form-2" name="rebooking-form-2" action="/receptionist/rescheduleList2/{{appointment.id}}/"> {% csrf_token %}
View 10 Days from <input type="text" id="rebookingdate" name="rebookingdate" />
<input type="submit" id="rebooking-submit-2" value="Search" />
</form>
<br />
<table id="reschedule-table-2">
	<tr>
		<th width="120px">Date</th>
		<th>Timeslots</th>
	</tr>
	{% if dic %}
	{% for k in dic%}
	<tr>
		<td align="center">{{k.0}}</td>
		<td>
		{% for schedule in k.1 %}
			{% if schedule.is_available %}
				<a onClick="confirmBookingForReschedule2({{schedule.id}},{{appointment.id}});" class="timebuttons">{{schedule.start_time|time:"H:i"}}</a> 
			{% else %}
				<a class="timebuttons-disable">{{schedule.start_time|time:"H:i"}}</a> 
			{% endif %}
		{% endfor %}
		</td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="2">Please Enter Desired Start Date</td>
	</tr>
	{% endif %}
</table>
<br /><br />
<span class="orange"><a href="/receptionist/patients/" id="reschedule-back-2" class="orange innerlink">Cancel</a></span>

<div id="timeslot-confirm-2" title="Confirm Timeslot">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Confirm booking?<br /></p>
</div>
