<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("table#reschedule-table tr:even").css("background-color", "#F4F4F8");
	$("table#reschedule-table tr:odd").css("background-color", "#EFF1F1");
	$("#reschedule-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#rebooking-submit").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#checkout-confirm").button({
		icons: {
			primary: "ui-icon-check"
		}
	});
	$("#rebooking-form").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );
			
		$("#ui-tabs-1").hide();
    /* Send the data using post and put the results in a div */
		$.post( url, $("#rebooking-form").serialize(),
		function( data ) {
			$("#ui-tabs-1").empty().append($(data));
			$("#ui-tabs-1").fadeIn('fast');
		}
		);
     });
	$(".timebuttons").button();
	$("#rebookingdate").datepicker();
});
</script>

<div class="title-text">Patient Reschedule</div>
{{appointment.patient}}<br />
{{appointment.patient.birthday}}
<br /><br />
<b>Current Appointment:</b> {{appointment.schedule.date}} {{appointment.schedule.start_time}}
<br /><br /><br />

{% if errors %}
	{% for error in errors %}
		{{error}}</br>
	{% endfor %}
{% endif %}

<div class="small-title">Rebooking Slots</div><br />
<form id="rebooking-form" name="rebooking-form" action="/receptionist/rescheduleList/{{appointment.id}}/ ">{% csrf_token %}
View 10 Days from <input type="text" id="rebookingdate" name="rebookingdate" />
<input type="submit" id="rebooking-submit" value="Search" />
</form>
<br />
<table id="reschedule-table">
	<tr>
		<th width="120px">Date</th>
		<th>Timeslots</th>
	</tr>
	{% if dic %}
	{% for k in dic%}
	<tr>
		<td align="center">{{k.0}}</td>
		<td>{% for schedule in k.1 %}
			{% if schedule.is_available%}
			<a onClick="confirmBookingForReschedule3({{schedule.id}},{{appointment.id}});">{{schedule.start_time|time:"H:i:s"}}</a>
			{% else %}
			<strike>{{schedule.start_time|time:"H:i"}}</strike> 
			{% endif %}
		{% endfor %}
		</td>
	</tr>
	{% endfor %}
	{% endif %}
</table>
<br /><br />
<span class="orange"><a href="/receptionist/registerList/" id="reschedule-back" class="orange innerlink">Cancel</a></span>

<div id="timeslot-confirm-3" title="Confirm Timeslot">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Confirm booking?<br /></p>
</div>