<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#patients-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
});
</script>
<div class="title-text">Patients List</div>
<table id="patients-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="80px">Sex</th>
			<th width="80px">Age</th>
			<th width="150px">Scheduled</th>
			<th width="80px">Reschedule</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Patient NAme</td>
			<td align="center">Male</td>
			<td align="center">25</td>
			<td align="center">Jul 10, 2012 3:30 PM</td>
			<td align="center">
				<span class="orange"><a href="patient-reschedule-2.htm" class="orange reschedule innerlink">c</a></span>
			</td>
		</tr>
		<tr>
			<td>Patient NAme2</td>
			<td align="center">Male</td>
			<td align="center">25</td>
			<td align="center">Jul 10, 2012 3:30 PM</td>
			<td align="center">
				<span class="orange"><a href="patient-reschedule-2.htm" class="orange reschedule innerlink">c</a></span>
			</td>
		</tr>
	</tbody>
</table>