<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("#checkout-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#checkout-confirm").button({
		icons: {
			primary: "ui-icon-check"
		}
	})
});
</script>

<div class="title-text">Patient Check In</div>
<br />
You are now checking in for {{appointment.patient}}.
<br /><br />
<b>Scheduled For: </b>{{appointment.schedule.date}} at {{appointment.schedule.start_time}}<br />
<b>Checking In: </b>{{date}}
<br /><br />
<span class="orange"><a href="/receptionist/registerList/" id="checkout-back" class="orange innerlink">Cancel</a></span>
<a href="/receptionist/checkIn/{{appointment.id}}/" id="checkout-confirm" class="innerlink">Confirm</a>
