<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("table#reschedule-table-2 tr:even").css("background-color", "#F4F4F8");
	$("table#reschedule-table-2 tr:odd").css("background-color", "#EFF1F1");
	$("#reschedule-back-2").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#rebooking-submit-2").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
	$("#checkout-confirm-2").button({
		icons: {
			primary: "ui-icon-check"
		}
	});
	$("#rebooking-form-2").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );
		
		$("#ui-tabs-2").hide();
    /* Send the data using post and put the results in a div */
		$.post( url, $("#rebooking-form-2").serialize(),
		function( data ) {
			$("#ui-tabs-2").empty().append($(data));
			$("#ui-tabs-2").fadeIn('fast');
		}
		);
     });
	$(".timebuttons").button();
});
</script>

<div class="title-text">Patient Reschedule</div>
Michael, Shamos<br />
October 10, 1950
<br /><br />
<b>Current Appointment:</b> JUL 10, 2012
<br /><br /><br />
<div class="small-title">Rebooking Slots</div><br />
<form id="rebooking-form-2" name="rebooking-form-2" action="patient-reschedule-2.htm">
View 10 Days from <input type="text" id="rebookingdate" name="rebookingdate" />
<input type="submit" id="rebooking-submit-2" value="Search" />
</form>
<br />
<table id="reschedule-table-2">
	<tr>
		<th width="120px">Date</th>
		<th>Timeslots</th>
	</tr>
	<tr>
		<td><b>TUE, JUL 10, 2012<b></td>
		<td>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">1:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">2:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">3:30</a>
		</td>
	</tr>
	<tr>
		<td><b>TUE, JUL 10, 2012<b></td>
		<td>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">1:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">2:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">3:30</a>
		</td>
	</tr>
	<tr>
		<td><b>TUE, JUL 10, 2012<b></td>
		<td>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">1:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">2:30</a>
			<a href="patient-reschedule-confirm-2.htm" class="innerlink timebuttons">3:30</a>
		</td>
	</tr>
</table>
<br /><br />
<span class="orange"><a href="patients.htm" id="reschedule-back-2" class="orange innerlink">Cancel</a></span>
