<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
	$("#checkout-back").button({
		icons: {
			primary: "ui-icon-arrowthick-1-w"
		}
	});
});
</script>

<div class="title-text">Checkout Confirmed</div>
<br />
<b>MICHAEL, SHAMOS</b> has been checked out on JUL 15 2012 at 3:45 PM
<br /><br />
<span class="orange"><a href="today.htm" id="checkout-back" class="orange innerlink">Back</a></span>