<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">register cancellation</div>

<!-- PAGE CONTENT -->
<div>
<table>
    <tr>
    <td><img src="{{STATIC_URL}}receptionist/images/user.png" height="30px" width="30px" >Patient Info</td>
    <td></td>
    </tr>
    <tr>
    <td><b>Name:</b></td>
    <td>{{appointment.patient.first_name}} {{appointment.patient.middle_name}} {{appointment.patient.last_name}}</td>
    </tr>
	<tr>
		<td><b>Address:</b></td> 
		<td>{{appointment.patient.address}} , {{appointment.patient.address2}}, {{appointment.patient.city}}, {{appointment.patient.state}},{{appointment.patient.zip}}</td>
	</tr>
	<tr>
		<td><b>SSN:</b></td> 
		<td>{{appointment.patient.ssn}}</td>
	</tr>
	<tr>
		<td><b>Gender:</b></td>	
		{% if appointment.patient.gender == 1 %}
		<td>Male</td>
		{% else %}
		<td>Female</td>
		{% endif %}
	</tr>
	<tr>
		<td><b>Birthday:</b></td> 
		<td>{{appointment.patient.birthday}} (AGE {{age}})</td>
	</tr>
	<tr>
		<td><b>Phone:</b></td>
		<td>{{appointment.patient.phone}}</td>
	</tr>
	<tr>
	   	 <td></td>
		<td></td>
	</tr>
</table>

<table>
<tr>
<td>You are going to cancel this patient's appointment at <b>DENLEY MRI CENTER</b> on <b>Jul 10 2012 Wed</b> for the MRI scan between <b>10:00-10:30</b></td>
<td>The patient checkin time is : {{appointment.check_in_time}} </td>
</tr>
<tr>
<td><a href="#" id="back-schedule-cancellation" class="panebutton" load="/receptionist/registerCancellation/{{appointment.id}}/">CONFIRM THE CANCELLATION</a></td></tr>
</table></div>

<div class="footer-backbutton"><a href="#" id="back-schedule-cancellation" class="panebutton" load="/receptionist/registerCancellation/{{appointment.id}}/">
	<img src="{{STATIC_URL}}receptionist/images/back_small.png" height="16" width="16" >&nbsp;BACK</a></div>