<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">register</div>

<!-- PAGE CONTENT -->
<table id="register-table">
	<thead>
		
		<tr>
			<th width="100px">Name</th>
			<th width="50px">Gender</th>
			<th width="100px">Birthday</th>
			<th width="180px">Scheduled Time</th>
			<th width="120px"></th>
		</tr>
		
	</thead>
	<tbody>
		{% for appointment in appointments %}
		<tr>
			<td>{{appointment.patient.first_name}} {{appointment.patient.middle_name}} {{appointment.patient.last_name}}</td>
			{% if appointment.patient.gender == 1 %}
			<td>Male</td>
			{% endif %}
			{% if appointment.patient.gender == 0 %}
			<td>Female</td>
			{% endif %}
			<td>{{appointment.patient.birthday}}</td>
			<td>{{appointment.schedule.date}}<br>{{appointment.schedule.start_time}}-{{appointment.schedule.end_time}}</td>
			<td><a href="#" class="panebutton" load="/receptionist/register/{{appointment.id}}/"><img src="{{STATIC_URL}}receptionist/images/register.png" height="30" width="30"></a>&nbsp;
				<a href="#" class="panebutton" load=/receptionist/reschedule/{{appointment.id}}/"><img src="{{STATIC_URL}}receptionist/images/calendar_empty.png" height="30" width="30"></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table><input type="button" onClick="reset_dt_view();" value="reset" />
