<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/subpage.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">schedule cancellation</div>

<!-- PAGE CONTENT -->
<div>
<table>
    <tr>
    <td><img src="images/user.png" height="30px" width="30px" >Patient Info</td>
    <td></td>
    </tr>
    <tr>
    <td><b>Name:</b></td>
    <td>Caroline Iowe</td>
    </tr>
	<tr>
		<td><b>Address:</b></td> 
		<td>1010 FORBES AVENUE, PITTSBURGH, PA</td>
	</tr>
	<tr>
		<td><b>SSN:</b></td> 
		<td>316-54-9089</td>
	</tr>
	<tr>
		<td><b>Gender:</b></td>	
		<td>FEMALE</td>
	</tr>
	<tr>
		<td><b>Birthday:</b></td> 
		<td>OCTOBER 10,1958 (AGE 54)</td>
	</tr>
	<tr>
		<td><b>Phone:</b></td>
		<td> 412-345-6789</td>
	</tr>
	<tr>
	   	 <td></td>
		<td></td>
	</tr>
</table>

<table>
<tr>
<td>You are going to cancel this patient's appointment at <b>DENLEY MRI CENTER</b> on <b>Jul 10 2012 Wed</b> for the MRI scan between <b>10:00-10:30</b></td>
</tr>
<tr>
<td><input type="submit" class="button" value="CONFIRM THE CANCELLATION" style="float:right;"></td></tr>
</table></div>

<div class="footer-backbutton"><a href="#" id="back-schedule-cancellation" class="panebutton" load="schedule.htm">
	<img src="images/back_small.png" height="16" width="16" >&nbsp;BACK</a></div>