<!-- JAVASCRIPT LIBRARY IMPORTS -->
<!--
<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<script src="../common/js/common.js"></script>
<script src="js/referring.js"></script>
-->
<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/subpage.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<script src="{{STATIC_URL}}receptionist/js/receptionist.js"></script>

<!-- CONTENT BELOW THIS LINE -->

<!-- HEADER REQUIRED -->
<div class="window-header">schedule</div>

<!-- PAGE CONTENT -->
<div  style="float: left; margin-top:-5px; margin-bottom:15px;">
            <form name="centerscheduleform" id="centerscheduleform" action="/receptionist/timeslotList/" method="POST">  {% csrf_token %}
            <b>Date:</b>&nbsp;
            <input  size="15" type="text" name="rp-schedule-date" id="rp-schedule-date" class="textfield"/>&nbsp;&nbsp;&nbsp;
            <input type="submit" name="viewbutton" class="button" id="viewbutton" value="VIEW TIMESLOT"/>
            </form>
</div>
            <hr style="clear: both;">
            
<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Status</th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		{% for schedule in schedules %}
		<tr>
			<td>{{schedule.start_time}}-{{schedule.end_time}}</td>
			{% if schedule.is_available %}
			<td>Available</td>
			{% else %}
			<td>Occupied</td>
			{% endif %}
			{% if schedule.is_available %}
			<td><a href="#" class="panebutton" load="/receptionist/cancelSchedule/{{schedule.id}}/"><img src="{{STATIC_URL}}receptionist/images/delete.png" width="15" height="15" />&nbsp;CANCEL</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
