<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("table#schedule-table tr:even").css("background-color", "#F4F4F8");
		$("table#schedule-table tr:odd").css("background-color", "#EFF1F1");
		$("#modify-button").button({
			icons: {
				primary: "ui-icon-clock"
			}
		});
		$("#prev-button").button({
			icons: {
				primary: "ui-icon-triangle-1-w"
			},
			text: false
		});
		$("#next-button").button({
			icons: {
				primary: "ui-icon-triangle-1-e"
			},
			text: false
		});
	});

</script>
<div class="title-text">Schedules</div>
<br />
<a href="schedule.htm?m=6" id="prev-button" class="innerlink">p</a> 
<span id="month-indicator">July 2012</span> 
<a href="schedule.htm?m=8" id="next-button" class="innerlink">n</a> 
<span class="orange">
<a href="schedule-modify.htm" class="innerlink orange" id="modify-button">Amend Timeslots</a><br />
</span>
<br />
<table id="schedule-table">
	<tr>
		<th width="150px">Date</th>
		<th>Time Slots</th>
	</tr>
	<tr>
		<td align="center">Jul 10, 2012 (TUE)</td>
		<td>1:30, 2:30, 3:30</td>
	</tr>
	<tr>
		<td align="center">Jul 10, 2012 (TUE)</td>
		<td>1:30, 2:30, 3:30</td>
	</tr>
	<tr>
		<td align="center">Jul 10, 2012 (TUE)</td>
		<td>1:30, <strike>2:30</strike> , 3:30</td>
	</tr>
</table>
<br />