<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/jquery.uploadifive.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/uploadifive.css" />
<script>
	$(document).ready(function() {
		$("#new-case-btn").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
		$(".btn").button({
			icons: {
				primary: "ui-icon-plus"
			},
			text: false
		});
		if($('#image-comments-1').length != 0) {
			$('#image-comments-1').show();
		}
		$("#image-comments").submit(function(event) {

		/* stop form from submitting normally */
			event.preventDefault(); 
			
		/* get some values from elements on the page: */
			var $form = $( this ),
				url = $form.attr( 'action' );
				
			$("#ui-tabs-1").hide();
		/* Send the data using post and put the results in a div */
			$.post( url, $form.serialize(),
			function( data ) {
				$("#ui-tabs-1").empty().append($(data));
				$("#ui-tabs-1").fadeIn('fast');
			}
			);
		 });
		 $('#case-large').click(function() {
			$('#case-large').fadeOut(200);
			$('#case-modal').fadeOut(200);
		 });
		 $('#case-modal').click(function() {
			$('#case-large').fadeOut(200);
			$('#case-modal').fadeOut(200);
		 });
		$("#diagnosis-upload").button();
		$("#diagnosis-upload-btn").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
	});
	function prevImage(curr) {
		if(curr == 0) {
			alert('min!');
		} else {
			var toPos = curr - 1;
			$('#image-comments-'+curr).fadeOut(100,function() {
				$('#image-comments-'+toPos).fadeIn(100);
			});
		}
	}
	function nextImage(curr) {
		if(curr == {{data.image_count-1}}) {
			alert('max!');
		} else {
			var toPos = curr + 1;
			$('#image-comments-'+curr).fadeOut(100,function() {
				$('#image-comments-'+toPos).fadeIn(100);
			});
		}
	}
	function openLarge(name) {
		$('#case-large').fadeIn(200);
		$('#case-modal').fadeIn(200);
		$('#case-large').html("<img src='{{MEDIA_URL}}dicom/{{data.name}}/" + name + "' width='600px' height='600px' />");
	}
</script>
<div class="title-text">Diagnose Case</div>
<br />

{% if has_pending_case %}
<div id="case-present">
	<div id="image-comments-container">
		    {% for obj in image_objs %}
			<div id="image-comments-{{obj.0}}" class="image-comments-inner">
				<div class="image-comments-placeholder">
					<img src="{{MEDIA_URL}}dicom/{{data.name}}/{{obj.1}}" width="350px" height="350px" onClick="openLarge('{{obj.1}}')" />
					<div class="com_header">{{obj.2}}</div>
					{% if obj.0 != 0 %}<div class="btn_left" onClick="prevImage(2)">PREV</div>{% endif %}
					{% if obj.0 != data.image_count - 1 %}<div class="btn_right" onClick="nextImage({{obj.0}})">NEXT</div>{% endif %}
					<div class="position">{{obj.0 + 1}} / {{data.image_count}}</div>
				</div>
				<br />
				Include in Diagnosis? <input type="checkbox" name="image-comments-{{obj.0}}-check" /><br /><br />
				Comments: <input type="text" width="80" name="image-comments-{{obj.0}}-text" />
				<br />
			</div>
			{% endfor %}
			<br />
			<div id="image-comments-right">
				<div class="small-title">Final Diagnosis</div>
				<textarea name="diagnosis" id="diagnosis"></textarea>
				<br /><br />
				<!--
				<div class="small-title">Supporting Uploads</div>
				<div id="diagnosis-queue"></div>
				<br />
				<input type="file" id="diagnosis-upload" /><br />
				<span class="orange"><a href="javascript:$('#diagnosis-upload').uploadifive('upload')" class="orange" id="diagnosis-upload-btn">Upload Files</a></span>
				<br /><br />
				-->
				<input type="submit" class="btn" value="Save Diagnosis">
			</div>
	</div><br />
	<div class="small-title">QuantMD Computational Diagnostics</div>
	{{case.analysis.content}}
	<br /><br />
	<b>Other Resources</b><br /><br />
		<ul>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
		</ul>
	<br /><br />
</div>
{% else %} <!-- No pending case, accept one -->
<div id="case-absent">
	<span class="orange"><a href="/cardiologist/accept_case/" id="new-case-btn" class="orange innerlink">Accept New Case</a></span>
	{% if not messages %}
		No case assigned, please accept one.
	{% endif %}
	{% for message in messages %}
	<div class="span8 offset2">
		<div class="alert {% if message.tags == 'error' %}alert-error{% endif %}">
			{{message}}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}