<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("#new-case-btn").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
		$(".btn").button({
			icons: {
				primary: "ui-icon-plus"
			},
			text: false
		});
		$("#diagnosis").submit(function(event) {

		/* stop form from submitting normally */
			event.preventDefault(); 
			
		/* get some values from elements on the page: */
			var $form = $( this ),
				url = $form.attr( 'action' );
				
			$("#ui-tabs-1").hide();
		/* Send the data using post and put the results in a div */
			$.post( url, $form.serialize(),
			function( data ) {
				$("#ui-tabs-1").empty().append($(data));
				$("#ui-tabs-1").fadeIn('fast');
			}
			);
		 });
	});
</script>
<div class="title-text">Diagnose Case</div>
<br />
<div id="case-present">
	MRI image engine
	<br /><br />
	system diagnosis notes
	<br /><br />
	<div class="small-title">Diagnosis</div>
	<form id="diagnosis" name="diagnosis" action="case.htm">
		<textarea name="diagnosis" id="diagnosis"></textarea><br /><br />
		<div class="small-title">Correspondence</div>
		<textarea name="diagnosis" id="diagnosis"></textarea><br /><br />
		<input type="submit" class="btn" value="Complete" />
	</form>
	<br /><br />
</div>
<div id="case-absent">
	<span class="orange"><a href="case.htm" id="new-case-btn" class="orange innerlink">Accept New Case</a></span>
</div>