<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/jquery.uploadifive.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/uploadifive.css" />
<script>
	$(document).ready(function() {
		$("#new-case-btn").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
		$(".btn").button({
			icons: {
				primary: "ui-icon-plus"
			},
			text: false
		});
		if($('#image-comments-1').length != 0) {
			$('#image-comments-1').show();
		}
		$("#image-comments").submit(function(event) {

		/* stop form from submitting normally */
			event.preventDefault(); 
			
		/* get some values from elements on the page: */
			var $form = $( this ),
				url = $form.attr( 'action' );
				
			$("#ui-tabs-1").hide();
		/* Send the data using post and put the results in a div */
			$.post( url, $form.serialize(),
			function( data ) {
				$("#ui-tabs-1").empty().append($(data));
				$("#ui-tabs-1").fadeIn('fast');
			}
			);
		 });
		 $('#case-large').click(function() {
			$('#case-large').fadeOut(200);
			$('#case-modal').fadeOut(200);
		 });
		 $('#case-modal').click(function() {
			$('#case-large').fadeOut(200);
			$('#case-modal').fadeOut(200);
		 });
		 $(function() {
			setTimeout(function() {
				$('#diagnosis-upload').uploadifive({
					'auto'         : false,
					'buttonText'  : 'Browse',
				'formData'     : {'case_id': '{{case_id}}',
				                  'identifier': '{{identifier}}'},
				'queueID'      : 'diagnosis-queue',
				'uploadScript' : '/broker/upload_action/'
				});
			},800);
		});
		$("#diagnosis-upload").button();
		$("#diagnosis-upload-btn").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
	});
	function prevImage(curr) {
		if(curr == 1) {
			alert('min!');
		} else {
			var toPos = curr - 1;
			$('#image-comments-'+curr).fadeOut(100,function() {
				$('#image-comments-'+toPos).fadeIn(100);
			});
		}
	}
	function nextImage(curr) {
		if(curr == 6) {
			alert('max!');
		} else {
			var toPos = curr + 1;
			$('#image-comments-'+curr).fadeOut(100,function() {
				$('#image-comments-'+toPos).fadeIn(100);
			});
		}
	}
	function openLarge(id) {
		$('#case-large').fadeIn(200);
		$('#case-modal').fadeIn(200);
		$('#case-large').html("<img src='images/"+id+".png' width='600px' height='600px' />");
	}
</script>
<div class="title-text">Diagnose Case</div>
<br />
<div id="case-present">
	<div id="image-comments-container">
		<form id="image-comments" method="GET" action="case.htm">
			<div id="sequence-1">
				<div id="image-comments-1" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/1.png" width="350px" height="350px" onClick="openLarge(1)" />
						<div class="com_header">Sequence Name</div>
						
						<div class="btn_right" onClick="nextImage(1)">NEXT</div>
						<div class="position">1 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-1-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-1-text" />
					<br />
				</div>
				<div id="image-comments-2" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/2.png" width="350px" height="350px" onClick="openLarge(2)"/>
						<div class="com_header">Sequence Name</div>
						<div class="btn_left" onClick="prevImage(2)">PREV</div>
						<div class="btn_right" onClick="nextImage(2)">NEXT</div>
						<div class="position">2 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-2-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-2-text" />
					<br />
				</div>
				<div id="image-comments-3" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/3.png" width="350px" height="350px" onClick="openLarge(3)" />
						<div class="com_header">Sequence Name</div>
						<div class="btn_left" onClick="prevImage(3)">PREV</div>
						<div class="btn_right" onClick="nextImage(3)">NEXT</div>
						<div class="position">3 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-3-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-3-text" />
					<br />
				</div>
				<div id="image-comments-4" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/4.png" width="350px" height="350px" onClick="openLarge(4)" />
						<div class="com_header">Sequence Name</div>
						<div class="btn_left" onClick="prevImage(4)">PREV</div>
						<div class="btn_right" onClick="nextImage(4)">NEXT</div>
						<div class="position">4 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-4-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-4-text" />
					<br />
				</div>
				<div id="image-comments-5" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/5.png" width="350px" height="350px" onClick="openLarge(5)" />
						<div class="com_header">Sequence Name</div>
						<div class="btn_left" onClick="prevImage(5)">PREV</div>
						<div class="btn_right" onClick="nextImage(5)">NEXT</div>
						<div class="position">5 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-5-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-5-text" />
					<br />
				</div>
				<div id="image-comments-6" class="image-comments-inner">
					<div class="image-comments-placeholder">
						<img src="images/6.png" width="350px" height="350px" onClick="openLarge(6)" />
						<div class="com_header">Sequence Name</div>
						<div class="btn_left" onClick="prevImage(6)">PREV</div>
						
						<div class="position">6 / 6</div>
					</div>
					<br />
					Include in Diagnosis? <input type="checkbox" name="image-comments-6-check" /><br /><br />
					Comments: <input type="text" width="80" name="image-comments-6-text" />
					<br />
				</div>
			<br />
			</div>
			<div id="image-comments-right">
				<div class="small-title">Final Diagnosis</div>
				<textarea name="diagnosis" id="diagnosis"></textarea>
				<br /><br />
				<div class="small-title">Supporting Uploads</div>
				<div id="diagnosis-queue"></div>
				<br />
				<input type="file" id="diagnosis-upload" /><br />
				<span class="orange"><a href="javascript:$('#diagnosis-upload').uploadifive('upload')" class="orange" id="diagnosis-upload-btn">Upload Files</a></span>
				<br /><br />
				<input type="submit" class="btn" value="Save Diagnosis">
			</div>
		</form>
	</div><br />
	<div class="small-title">QuantMD Computational Diagnostics</div>
	THIS IS QUANT MD DIAGNOSIS OUTPUT.<br />
	THIS IS QUANT MD DIAGNOSIS OUTPUT.<br />
	THIS IS QUANT MD DIAGNOSIS OUTPUT.<br />
	THIS IS QUANT MD DIAGNOSIS OUTPUT.
	<br /><br />
	<b>Other Resources</b><br /><br />
		<ul>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
			<li><img src="{{STATIC_URL}}cardiologist/images/progress.png" /> <a href="">Special_Report.pdf (Text/PDF)</a></li>
		</ul>
	<br /><br />
</div>

<div id="case-absent">
	<span class="orange"><a href="case.htm" id="new-case-btn" class="orange innerlink">Accept New Case</a></span>
</div>