<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script>
	$(document).ready(function() {
		$('#change-password-form').submit(function(event) {
			event.preventDefault(); 
			$('#change-password').css("margin-left",-10000)
			var $form = $( this ),
					url = $form.attr( 'action' );
			$.post( url, $form.serialize(),
				function( data ) {
					$("#change-password").empty().append($(data));
					$('#change-password').css("margin-left",-160)
				}
			);
		});
		$(".btn").button({
			icons: {
				primary: "ui-icon-plus"
			},
			text: false
		});
	});
</script>
<div class="title-text">Change Successful</div>
<br />
Your password has been successfully changed.
<br /><br />
<input type="button" class="btn" value="Close" onClick="closeChangepass();" />
<br /><br />