<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#log-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
		$(".view").button({
			icons: {
				primary: "ui-icon-search"
			},
			 text: false
		});
});
</script>
<div class="title-text">Diagnosis Log</div>
<table id="log-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="50px">Sex</th>
			<th width="50px">Age</th>
			<th width="130px">Scan Date</th>
			<th width="130px">Diagnose Date</th>
			<th width="50px">View</th>
		</tr>
	</thead>
	<tbody>
		{% for case in cases %}
		<tr>
			<td>{{case.patient}}</td>
			<td align="center">{% if case.patient.gender %}Male{% else %}Female{% endif %}</td>
			<td align="center">{{case.patient.birthday}}</td>
			<td align="center">{{case.data.create_time}}</td>
			<td align="center">{{case.report.create_time}}</td>
			<td align="center">
			<td>
				<span class="orange"><a target="_blank" href="{{MEDIA_URL}}dicom/{{case.data.name}}/{{case.data.name}}.pdf" class="orange view innerlink">c</a></span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>