<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
	$(".replybutton").button({
		icons: {
			primary: "ui-icon-search"
		}
	});
	$("#message-reply").submit(function(event) {

    /* stop form from submitting normally */
		event.preventDefault(); 
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );
			
		$("#messages-inner-right").hide();
    /* Send the data using post and put the results in a div */
		$.post( url, $("#message-reply").serialize(),
		function( data ) {
			$("#messages-inner-right").empty().append($(data));
			$("#messages-inner-right").fadeIn('fast');
		}
		);
     });
});
</script>
{% if messages %}
	<div class="title-text">Case #{{messages.0.case_id}} Messages</div><br />
		{{messages.0.case.patient}}
	<hr><br />
{% endif %}
{% for message in messages %}
	{% if message.is_sys %}
	    <div class="small-title">{{message.title}}</div>
	{% else %}
	    {% if message.receiver_id == user.pk %}
			<div class="small-title">From: {{message.sender}}</div>
		{% endif %}
	{% endif %}
	{{message.create_time}}<br /><br />
	{{ message.content }}<br /><br />
	<hr>
	<br/>
{% endfor %} 

{% if not is_sys %}
<form id="message-reply" method="POST" action="/message/send/">
	{% csrf_token %}
	<input type="hidden" name="receiver_id" value="{{sender_id}}" />
	<input type="hidden" name="case_id" value="{{messages.0.case_id}}" />
	Reply:<br />
	<textarea name="content" cols="80" rows="6"></textarea>
	<br />
	<input type="submit" id="submit-message-reply" class="replybutton" value="Reply" />
</form>
{% endif %}