<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#cardiologist-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".editbutton").button({
			icons: {
				primary: "ui-icon-pencil"
			},
			 text: false
		});
		$(".viewcasebutton").button({
			icons: {
				primary: "ui-icon-search"
			},
			 text: false
		});
		$(".createnew").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
});
</script>
<div class="title-text">Cardiologists</div><br />
<span class="orange">
	<a href="cardiologist-create.htm" class="innerlink createnew orange">Create New Cardiologist</a>
</span><br />
<table id="cardiologist-table">
	<thead>
		<tr>
			<th width="30px">ID</th>
			<th>Cardiologist Name</th>
			<th width="100px">City</th>
			<th width="100px">Member Since</th>
			<th>Institute</th>
			<th width="150px">Last Activity</th>
			<th width="80px">More</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td align="center">051</td>
			<td>mri ABC</td>
			<td align="center">Pittsburgh, PA</td>
			<td align="center">Jul 10, 2012</td>
			<td align="center">22</td>
			<td align="center">Jul 10, 2012 3:30 PM</td>
			<td align="center">
				<a href="cardiologist-edit.htm" class="editbutton innerlink">Edit</a>
				<a href="cardiologist-view.htm" class="viewcasebutton innerlink">View</a>
			</td>
		</tr>
		<tr>
			<td align="center">051</td>
			<td>mri 2C</td>
			<td align="center">Pittsburgh, PA</td>
			<td align="center">Jul 10, 2012</td>
			<td align="center">Allegheny General</td>
			<td align="center">Jul 10, 2012 3:30 PM</td>
			<td align="center">
				<a href="cardiologist-edit.htm" class="editbutton innerlink">Edit</a>
				<a href="cardiologist-view.htm" class="viewcasebutton innerlink">View</a>
			</td>
		</tr>
	</tbody>
</table>