<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		
	$(".editbutton").button({
			icons: {
				primary: "ui-icon-pencil"
			},
			 text: false
		});
		$(".viewcasebutton").button({
			icons: {
				primary: "ui-icon-search"
			},
			 text: false
		});
		$(".createnew").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
		$("#back-btn").button({
			icons: {
				primary: "ui-icon-arrowthick-1-w"
			}
		});
});
$(function() {
	setTimeout(function() {
		$('#cardiologist-table').dataTable({
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"oLanguage": {
			  "sSearch": "<img src='{{STATIC_URL}}quantmd/images/find.png' />"
			},
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"bRetrieve": true,
			"bJQueryUI": false,
			"iDisplayLength": 20,
			"sPaginationType": "full_numbers"
		});
	},300);
});
</script>
<div class="title-text">Cardiologists</div><br />
	<a href="/quantmd/users/" class="innerlink" id="back-btn">Back</a>
<span class="orange">
	<a href="/quantmd/create_user/4/" class="innerlink createnew orange">Create New Cardiologist</a>
</span><br /><br />
<table id="cardiologist-table">
	<thead>
		<tr>
			<th width="30px">ID</th>
			<th>Cardiologist Name</th>
			<th width="100px">City</th>
			<th width="100px">Member Since</th>
			<th width="150px">Last Activity</th>
			<th width="80px">More</th>
		</tr>
	</thead>
	<tbody>
		{% for p in profiles %}
		<tr>
			<td align="center">{{p.pk}}</td>
			<td>{{p}}</td>
			<td align="center">{{p.city}}</td>
			<td align="center">{{p.user.date_joined}}</td>
			<td align="center">{{p.user.last_login}}</td>
			<td align="center">
				<a href="/quantmd/edit_user/{{p.pk}}/" class="editbutton innerlink">Edit</a>
				<a href="/quantmd/view_user/{{p.pk}}/" class="viewcasebutton innerlink">View</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>