<script>
	$(document).ready(function() {
		$("table.dash-summary tr:even").css("background-color", "#F4F4F8");
		$("table.dash-summary tr:odd").css("background-color", "#EFF1F1");
		$(".patient-goto").button({
			icons: {
				primary: "ui-icon-carat-1-e"
			},
			text: false
		});
	});
	function goToPatient(id) {
		
	}
</script>
<div id="dash-header">
	<div class="title-text">Administrator Dashboard</div>
</div>
<div id="dash-overview">
	<div id="dash-float-1" class="dash-float">
		<div class="big">{{unprocess}}</div>
		Unprocessed Cases
	</div>
	<div id="dash-float-2" class="dash-float">
		<div class="big">{{complete}}</div>
		Completed<br />This Week
	</div>
	<div id="dash-float-3" class="dash-float">
		<div class="big">{{awiting}}</div>
		Awaiting Diagnosis
	</div>
	<div id="dash-float-4" class="dash-float">
		<div class="big">{{schedule}}</div>
		Scheduled<br /> This Week
	</div>
</div>
<div id="dash-main">
	<div class="small-title">Top 5 Referring Doctors (Past 7 Days)</div>
	<table class="dash-summary">
		<tr>
			<th>Name</th>
			<th width="160px">City</th>
			<th width="160px">Member Since</th>
			<th width="80px">Cases Seen</th>
		</tr>
		{%for doctor in doctors%}
		<tr>
			<td>{{doctor}}</td>
			<td align="center">{{doctor.city}}, {{doctor.state}}</td>
			<td align="center">{{doctor.user.date_joined|date:"M d, Y"}}</td>
			<td align="center">{{doctor.count}}</td>
		</tr>
		{%endfor%}
	</table>
	<br /><br />
	<div class="small-title">Top 5 Cardiologists (Past 7 Days)</div>
	<table class="dash-summary">
		<tr>
			<th>Name</th>
			<th width="160px">City</th>
			<th width="160px">Member Since</th>
			<th width="80px">Cases Seen</th>
		</tr>
		{% for cardi in cardiologists %}
		<tr>
			<td>{{cardi}}</td>
			<td align="center">{{cardi.city}}, {{cardi.state}}</td>
			<td align="center">{{cardi.user.date_joined|date:"M d, Y"}}</td>
			<td align="center">{{cardi.count}}</td>
		</tr>
		{% endfor %}
	</table>
</div>