<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$(".backbutton").button({
		icons: {
			primary: "ui-icon-carat-1-w"
		}
	});
	$(".editbutton").button({
		icons: {
			primary: "ui-icon-pencil"
		},
	});
	
});
</script>
<div class="title-text">Dr. Rashid Alrad (#055)</div>
<br />
//Show Information<br /><br />
<a href="cardiologist.htm" class="innerlink backbutton">Back</a>
<span class="orange">
	<a href="doctor-edit.htm" class="innerlink editbutton orange">Edit Information</a>
</span>