<html>
<head>

	<title>Login - QuantMD</title>

	<!-- Import Styles -->
	<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../common/css/theme/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../common/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="../common/css/jscrollpane.css" />
	<link rel="stylesheet" type="text/css" href="../common/css/datatables.css" />
	<link rel="stylesheet" type="text/css" href="../common/css/core.css" />
	
	<!-- Import Scripts -->
	<script src="../common/js/jquery.js"></script>
	<script src="../common/js/jquery-ui.js"></script>
	<script src="../common/js/datatables.js"></script>
	<script src="../common/js/jscrollpane.js"></script>
	<script src="../common/js/mousewheel.js"></script>
	<script src="../common/js/core.js"></script>
	
	<!-- Local Scripts & Styles -->
	<script src="js/admin.js"></script>
	<link rel="stylesheet" type="text/css" href="css/admin.css" />
	
</head>
<body>
	<div id="wrapper">
	
		<!-- User Box Section -->
		<div id="user-box">
			<div id="user-box-text"><center>WELCOME, <b>USERABC</b>&nbsp; <img src="../common/images/drop-arrow.png" /></center></div>
			<div id="user-box-options">
				<div id="user-box-options-text">
					&nbsp;<img src="../common/images/square.png" /> &nbsp; <a href="#">ACCOUNT SETTINGS</a><p />
					&nbsp;<img src="../common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
				</div>
			</div>
		</div>
			
		<div id="container">
			<div id="tabs-nohdr">
				<ul>
					<li><a href="dashboard.htm"><span><img src='images/upload.png' /> Dashboard</span></a></li>
					<li><a href="cases.htm"><span><img src='images/progress.png' /> Cases</span></a></li>
					<li><a href="doctors.htm"><span><img src='images/progress.png' /> Doctors</span></a></li>
					<li><a href="mri.htm"><span><img src='images/logs.png' /> MRI Centers</span></a></li>
					<li><a href="cardiologist.htm"><span><img src='images/logs.png' /> Cardiologists</span></a></li>
					
				</ul>
			</div>
		</div>
	</div>
	<!-- Footer Bar -->
	<div id="footer">
		<div id="footer-left">
			<div id="footer-left-logo"><img src="../common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
			<div>&nbsp; &#0169; 2012 QUANTMD</div>
		</div>
		<div id="footer-right">
			<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
		</div>
	</div>
	
	<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>

</body>
</html>