<html>
<head>

	<title>Company Management - QuantMD</title>

	<!-- Import Styles -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/jscrollpane.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/datatables.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/core.css" />
	
	<!-- Import Scripts -->
	<script src="{{STATIC_URL}}common/js/jquery.js"></script>
	<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
	<script src="{{STATIC_URL}}common/js/datatables.js"></script>
	<script src="{{STATIC_URL}}common/js/jscrollpane.js"></script>
	<script src="{{STATIC_URL}}common/js/mousewheel.js"></script>
	<script src="{{STATIC_URL}}common/js/core.js"></script>
	
	<!-- Local Scripts & Styles -->
	<script src="{{STATIC_URL}}quantmd/js/admin.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}quantmd/css/admin.css" />
	
</head>
<body>
	<div id="wrapper">
	
		<!-- User Box Section -->
		<div id="user-box">
			<div id="user-box-text"><center>WELCOME, <b>{{profile.first_name}}</b>&nbsp; <img src="{{STATIC_URL}}common/images/drop-arrow.png" /></center></div>
			<div id="user-box-options">
				<div id="user-box-options-text">
					&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="changepass()">CHANGE PASSWORD</a><p />
					&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
				</div>
			</div>
		</div>
		
		<div id="container">
			<div id="tabs-nohdr">
				<ul>
					<li><a href="/quantmd/dashboard/"><span><img src='{{STATIC_URL}}quantmd/images/upload.png' /> Dashboard</span></a></li>
					<li><a href="/quantmd/process_cases/"><span><img src='{{STATIC_URL}}quantmd/images/progress.png' /> Process Cases</span></a></li>
					<li><a href="/quantmd/logsView/"><span><img src='{{STATIC_URL}}quantmd/images/progress.png' /> Cases</span></a></li>
					<li><a href="/quantmd/mri/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' /> MRI Centers</span></a></li>
					<li><a href="/quantmd/doctors/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' /> Doctors</span></a></li>
					<li><a href="/quantmd/receptionists/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' />Receptionists</span></a></li>
					<li><a href="/quantmd/brokers/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' />Brokers</span></a></li>
					<li><a href="/quantmd/cardiologists/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' />Cardiologists</span></a></li>
					<li><a href="/quantmd/create_user/-1/"><span><img src='{{STATIC_URL}}quantmd/images/logs.png' />Create Users</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Footer Bar -->
	<div id="footer">
		<div id="footer-left">
			<div id="footer-left-logo"><img src="{{STATIC_URL}}common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
			<div>&nbsp; &#0169; 2012 QUANTMD</div>
		</div>
		<div id="footer-right">
			<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
		</div>
	</div>
	
	<div id="change-password">
		
	</div>
	<div id="change-password-modal"></div>
	
	
	<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>

</body>
</html>