<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#log-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
});
</script>
<div class="title-text">Case Logs</div>
<table id="log-table">
	<thead>
		<tr>
			<th width="50px">Case Number</th>
			<th width="50px">Create Time</th>
			<th width="130px">Summary</th>
			<th width="50px">Status</th>
			<th width="130px">More</th>
		</tr>
	</thead>
	<tbody>
		{% for appointment in appointments%}
		<tr>
			<td>{{appointment.case.id}}</td>
			<td align="center">{{appointment.case.create_time}}</td>
			{% if appointment.case.status == -1%}
				<td>Case has been cancelled</td>
				<td align="center">Cancelled</td>
			{% endif %}
			{% if appointment.case.status == 0 %}
				<td>Appointment at {{appointment.mri.name}} at {{appointment.schedule.start_time}} on {{appointment.schedule.date}}</td>
				<td align="center">Scheduled</td>
			{% endif %}
			{% if appointment.case.status == 1 %}
				<td>Checked in at {{appointment.mri.name}} at {{appointment.schedule.start_time}} on {{appointment.schedule.date}}</td>
				<td align="center">Awaiting Scan</td>
			{% endif %}
			{% if appointment.case.status == 2 %}
				<td>MRI Data is available on {{appointment.case.data.create_time}}</td>
				<td align="center">Waiting Quantmd analysis</td>
			{% endif %}
			{% if appointment.case.status == 3 or appointment.case.status == 4 %}
				<td>Quantmd analysis is available on {{appointment.case.analysis.create_time}}</td>
				<td align="center">Waiting Diagnosis</td>
			{% endif %}
			{% if appointment.case.status == 5 or appointment.case.status == 6%}
				<td>Diagnosis is available on {{appointment.case.report.create_time}}</td>
				<td align="center">Complete</td>
			{% endif %}
			<td align="center"><a href="/quantmd/logView/{{appointment.case.id}}/"  class="editbutton innerlink">View Case</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>