<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$(".backbutton").button({
		icons: {
			primary: "ui-icon-carat-1-w"
		},
	});
	$(".viewbutton").button({
		icons: {
			primary: "ui-icon-search"
		},
	});
		
});
</script>
<div class="title-text">Created MRI Center</div>
<br />
MRI Center {{mri.name}} Created!<br /><br />
email: {{mri.email}}<br />
phone: {{mri.phone}}<br />
address: {{mri.address}} {{mri.address2}}<br />
city:{{mri.city}}<br />
state:{{mri.state}}<br />
zip:{{mri.zip}}<br />
<span class="orange">
	<a href="mri.htm" class="innerlink backbutton orange">Back To List</a>
</span>
<a href="mri-view.htm" class="innerlink viewbutton">View Center</a>
