<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<script src="../common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$(".backbutton").button({
		icons: {
			primary: "ui-icon-carat-1-w"
		},
	});
	$(".viewbutton").button({
		icons: {
			primary: "ui-icon-search"
		},
	});
		
});
</script>
<div class="title-text">Edited Imaging Center (#022)</div>
<br />
You have edited the information for Center #022 at 1500 Center Avenue, Pittsburgh, PA 15213 on Aug 10, 2012 3:15 AM<br /><br />
<span class="orange">
	<a href="mri.htm" class="innerlink backbutton orange">Back To List</a>
</span>
<a href="mri-view.htm" class="innerlink viewbutton">View Doctor</a>
