<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$(".backbutton").button({
		icons: {
			primary: "ui-icon-carat-1-w"
		}
	});
	$(".editbutton").button({
		icons: {
			primary: "ui-icon-pencil"
		},
	});
	
});

</script>
<div class="title-text">{{mri.name}}</div>
<br />
Phone: {{mri.phone}}</br>
Email: {{mri.email}}</br>
Address: {{mri.address}} {{mri.address2}}, {{mri.city}}, {{mri.state}} {{mri.zip}}</br>
<br /><br />

<span class="orange">
	<a href="/quantmd/editMRIView/{{mri.id}}/" class="innerlink editbutton orange">Edit Information</a>
</span>
</br></br>

<table id="dash-summary">
		<tr>
			<th>Name</th>
			<th width="150px">Gender</th>
			<th width="180px">Role</th>
		</tr>
		
		{% if not profiles%}
			<tr>
				<td Colspan = 3 align="center">NO ACCOUNT FOR THIS CENTER NOW </td>
			</tr>
		{% endif%}
		
		{%for profile in profiles%}
		</tr>
			<td align="center">{{profile}}</td>
			<td align="center">{% if profile.gender == 1 %}
								Male
							{% endif %}
					{% if profile.gender == 0 %}
							   Female
						{% endif %}</tdh>
						
			<td align="center">
				{% if profile.role == 2 %}
							Receptionist
							{% endif %}
					{% if profile.role == 3 %}
							   Broker
						{% endif %}
			</td>
			<td align="center"><a href="/quantmd/edit_user/{{profile.pk}}/" class="innerlink editbutton">Edit</a>
				<a href="/quantmd/view_user/{{profile.pk}}/" class="innerlink viewcasebutton">View</a></td>
		</tr>
		{%endfor%}
</table>
<a href="/quantmd/scheduleList/{{mri.id}}/0/" class="innerlink editbutton">View Schedule</a>
<a href="/quantmd/mri/" class="innerlink backbutton">Back</a>
