<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#mri-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".editbutton").button({
			icons: {
				primary: "ui-icon-pencil"
			},
			 text: false
		});
		$(".viewcasebutton").button({
			icons: {
				primary: "ui-icon-search"
			},
			 text: false
		});
		$(".createnew").button({
			icons: {
				primary: "ui-icon-plus"
			}
		});
});
</script>
<div class="title-text">MRI Centers</div><br />
<span class="orange">
	<a href="/quantmd/createMRIView/" class="innerlink createnew orange">Create New Center</a>
</span><br />
<table id="mri-table">
	<thead>
		<tr>
			<th>MRI Name</th>
			<th width="100px">City</th>
			<th width="100px">Member Since</th>
			<th width="80px">Cases Scheduled</th>
			<th width="80px">More</th>
		</tr>
	</thead>
	<tbody>
		{% for k,v in  mri.iteritems %}
		<tr>
			<td>{{k.name}}</td>
			<td align="center">{{k.city}},{{k.state}}</td>
			<td align="center">{{k.create_time}}</td>
			<td align="center">{{v}}</td>
			<td align="center">
				<a href="/quantmd/editMRIView/{{k.id}}/" class="editbutton innerlink">Edit</a>
				<a href="/quantmd/MRIView/{{k.id}}/" class="viewcasebutton innerlink">View</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>