<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script src="{{STATIC_URL}}common/js/jquery.uploadifive.min.js"></script>
<script>
$(document).ready(function() {
	$(".checkin").button({
		icons: {
			primary: "ui-icon-play"
		},
		 text: false
	});
	$("#diagnose-form-submit").button({
		icons: {
			primary: "ui-icon-clock"
		},
		 text: false
	});
	$("#upload-btn").button({
		icons: {
			primary: "ui-icon-check"
		}
	});
	$("#download-btn").button({
		icons: {
			primary: "ui-icon-arrowthickstop-1-s"
		}
	});
	$("#process-form").submit(function(event) {
	
    /* stop form from submitting normally */
		event.preventDefault(); 
		$( "#ui-tabs-2" ).hide();
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );

    /* Send the data using post and put the results in a div */
		$.post( url, $("#process-form").serialize(),
		function( data ) {
			$( "#ui-tabs-2" ).empty().append($(data));
			$( "#ui-tabs-2" ).fadeIn('fast');
		});
     });
});

$(function() {
	setTimeout(function() {			
		$('#file_upload').uploadifive({
			'auto'         : false,
			'buttonText'  : 'Browse',
			'formData'     : {'case_id': '{{case.pk}}'},
			'queueID'      : 'queue',
			'uploadScript' : '/quantmd/upload_action/',
			'onUploadComplete' : function(file, data) { //After one file is uploaded
				if (data != '0') { //failed
					alert(data);
					window.location = "{% url main.views.index.index %}";
				}
			},
			'onUploadStart' : function() {
				$('#change-password-modal').show();
			},
			'onQueueComplete' : function() { //After all files uploaded
				$('#upload-btn').hide();
				$('#complete-btn').show();
				$('#change-password-modal').hide();
			}
		});
	},800);
});

</script>
<div class="title-text">Process Case #{{case.pk}}</div>
<br />
<span class="orange">
<a id="download-btn" class="orange" href="{{MEDIA_URL}}dicom/{{case.data.name}}/{{case.data.name}}.zip">Download DICOM Files</a>
</span>
<br /><br />

<form>
	<div id="queue"></div>
	<input id="file_upload" name="file_upload" type="file" multiple="true">
	<a href="javascript:$('#file_upload').uploadifive('upload')" id="upload-btn">Upload Files</a>
</form>

<br /><br />
<form method="post" id="process-form" action="/quantmd/process_case_action/">
	{% csrf_token %}
	<input type="hidden" name="case_id" value="{{case.pk}}" />
	<textarea id="analysis" cols="55" rows="10" name="analysis"></textarea><br /><br />
	<input type="submit" value="Submit" />
</form>
