<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$("#diagnose-form-submit").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
		$("#diagnose-form").submit(function(event) {
	
    /* stop form from submitting normally */
		event.preventDefault(); 
		$( "#ui-tabs-2" ).hide();
        
    /* get some values from elements on the page: */
		var $form = $( this ),
			url = $form.attr( 'action' );

    /* Send the data using post and put the results in a div */
		$.post( url, $("#diagnose-form").serialize(),
		function( data ) {
			$( "#ui-tabs-2" ).empty().append($(data));
			$( "#ui-tabs-2" ).fadeIn('fast');
		});
     });
});
</script>
<div class="title-text">Process one case</div>
<br />
<a href="{{MEDIA_URL}}dicom/{{case.data.name}}/{{case.data.name}}.zip">Download Compressed Dicom Files</a>
<br/>
<form action="/quantmd/process_case_action/" method="POST">
	{% csrf_token %}
	<input type="hidden" name="case_id" value="{{case.pk}}" />
	<textarea cols="25" rows="10" name="diagnosis"></textarea><br /><br />
	<input type="submit" value="Submit" id="diagnose-form-submit" />
</form>
