<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
	$("#doctor-btn").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#reception-btn").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#broker-btn").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#cardi-btn").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
	$("#create-btn").button({
		icons: {
			primary: "ui-icon-plus"
		}
	});
});
</script>
<div class="title-text">Users List</div>
Select a category of users to view.<br /><br />
<span class="orange">
<a href="/quantmd/create_user/-1/" id="create-btn" class="innerlink orange">Create User</a>
</span>
<br /><br />
<a href="/quantmd/doctors/" id="doctor-btn" class="innerlink">Doctors</a> 
<a href="/quantmd/receptionists/" id="reception-btn" class="innerlink">Receptionists</a> 
<a href="/quantmd/brokers/" id="broker-btn" class="innerlink">MRI Broker</a> 
<a href="/quantmd/cardiologists/" id="cardi-btn" class="innerlink">Cardiologists</a>

