<html>
	
	<head>
		
		<title>Broker - QuantMD</title>
		
		<!-- Import Scripts -->
		<script src="{{STATIC_URL}}/common/js/jquery.js"></script>
		<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}common/js/datatables.js"></script>
		<script src="{{STATIC_URL}}common/js/jscrollpane.js"></script>
		<script src="{{STATIC_URL}}common/js/mousewheel.js"></script>
		<script src="{{STATIC_URL}}common/js/common.js"></script>
		<script src="{{STATIC_URL}}common/js/bootstrap.min.js"></script>

		<!-- Import Styles -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/common.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/jquery.fileupload-ui.css">
		
		
		
		<!-- Local Scripts & Styles -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}broker/css/broker.css" />
		<script src="{{STATIC_URL}}broker/js/broker.js"></script>
		
		
	</head>
	
	<body>
	
		<div id="wrapper">
		
			<!-- User Box Section -->
			<div id="user-box">
				<div id="user-box-text"><center>WELCOME, <b>USERABC</b>&nbsp; <img src="{{STATIC_URL}}common/images/drop-arrow.png" /></center></div>
				<div id="user-box-options">
					<div id="user-box-options-text">
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#">ACCOUNT SETTINGS</a><p />
						&nbsp;<img src="{{STATIC_URL}}common/images/square.png" /> &nbsp; <a href="#" onClick="logout();">SIGN OUT</a>
					</div>
				</div>
			</div>
			
			<!-- Navigation Bar -->
			<div id="navbar">
				<img id="nav-patients" class="showbutton" show="patients" load="patients.htm" src="{{STATIC_URL}}broker/images/icon-patients.png" />&nbsp;
				<img id="nav-upload" class="showbutton" show="upload" load="{%url main.views.broker.upload%}" src="{{STATIC_URL}}broker/images/icon-upload.png" />&nbsp; 
				<img id="nav-progress" class="showbutton" show="progress" load="progress.htm" src="{{STATIC_URL}}broker/images/icon-progress.png" />&nbsp;
				<img id="nav-logs" class="showbutton" show="logs" load="logs.htm" src="{{STATIC_URL}}broker/images/icon-logs.png" />
			</div>
			
			<!-- MAIN CONTENT AREA -->
			
			<div id="drag-container">
			
				<div id="patients" class="windows">
					<div id="patients-close" class="hidebutton">X</div>
					<div id="patients-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="upload" class="windows">
					<div id="upload-close" class="hidebutton">X</div>
					<div id="upload-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="progress" class="windows">
					<div id="progress-close" class="hidebutton">X</div>
					<div id="progress-content" class="content">
						hello world
					</div>
				</div>
				
				<div id="logs" class="windows">
					<div id="logs-close" class="hidebutton">X</div>
					<div id="logs-content" class="content">
						hello world
					</div>
				</div>
			
			</div>
		
		</div>

		<!-- Logout Confirmation Box -->
		<div id="logout-confirm" title="Confirm Sign Out?">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will sign you out of your current session. Any unsaved work will be lost.<br /></p>
		</div>
		
		<!-- Footer Bar -->
		<div id="footer">
			<div id="footer-left">
				<div id="footer-left-logo"><img src="{{STATIC_URL}}common/images/icon-quantmd-mini-black.png" height="20px" width="20px" /></div>
				<div>&nbsp; &#0169; 2012 QUANTMD</div>
			</div>
			<div id="footer-right">
				<a href="#">TERMS OF SERVICE</a> | <a href="#">PATIENT PRIVACY NOTICE</a> | <a href="#">CONTACT QUANTMD</a>
			</div>
		</div>
	
	</body>
	
</html>