<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
$(document).ready(function() {
		$('#log-table').dataTable({
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"oLanguage": {
		  "sSearch": "<img src='images/find.png' />"
		},
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false,
		"bRetrieve": true,
		"bJQueryUI": false,
		"iDisplayLength": 20,
		"sPaginationType": "full_numbers"
	});
	$(".checkin").button({
			icons: {
				primary: "ui-icon-play"
			},
			 text: false
		});
		$(".reschedule").button({
			icons: {
				primary: "ui-icon-clock"
			},
			 text: false
		});
});
</script>
<div class="title-text">Upload Log</div>
<table id="log-table">
	<thead>
		<tr>
			<th>Name</th>
			<th width="50px">Sex</th>
			<th width="50px">Age</th>
			<th width="130px">Scheduled</th>
			<th width="130px">Check In</th>
			<th width="130px">Upload Time</th>
		</tr>
	</thead>
	<tbody>
		{% for apt in apts %}
		<tr>
			<td>{{apt.patient}}</td>
			<td align="center">{% if apt.patient.gender %}Male{% else %}Female{% endif %}</td>
			<td align="center">{{apt.patient.birthday}}</td>
			<td align="center">{{apt.schedule.start_time}}</td>
			<td align="center">{{apt.check_in_time}}</td>
			<td align="center">{{apt.case.data.create_time}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>