<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("table#patient-upload tr:even").css("background-color", "#F4F4F8");
		$("table#patient-upload tr:odd").css("background-color", "#EFF1F1");
		$(".upload").button({
			icons: {
				primary: "ui-icon-arrowreturnthick-1-n"
			},
			text: false
		});
		$("#refresh-btn").button({
			icons : {
				primary : "ui-icon-refresh"
			}
		});
		$("#refresh-btn").click(function() {
			$('#ui-tabs-1').empty();
			$('#ui-tabs-1').fadeTo('fast','0.001');
			$('#ui-tabs-1').load('/broker/patients/', function() {
				$('#ui-tabs-1').fadeTo('fast','1');
			});
		});
		startTime();
	});
	function startTime()
	{
		var today=new Date();
		
		var year=today.getYear();
		if (year < 1000) { year+=1900; }
		var day=today.getDay();
		var month=today.getMonth();
		var daym=today.getDate();
		var h=today.getHours();
		var m=today.getMinutes();
		var s=today.getSeconds();
		var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
		var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December");
		
		// add a zero in front of numbers<10
		m=checkTime(m);
		s=checkTime(s);
		$("#datetime").html(dayarray[day]+", "+montharray[month]+" "+daym+", "+year+" "+h+":"+m+":"+s);
		t=setTimeout('startTime()',500);
	}

	function checkTime(i)
	{
	if (i<10)
	  {
	  i="0" + i;
	  }
	return i;
	}
	
</script>
<div class="title-text">{{mri_name}}</div>
<div class="button-right"><a id="refresh-btn">Refresh</a></div>
<div id="datetime">b</div>
<br />
<div class="small-title">Patients Awaiting Upload</div>
<table id="patient-upload">
	<tr>
		<th width="140px">Time Scheduled</th>
		<th width="140px">Time Registered</th>
		<th>Patient Name</th>
		<th width="80px">Sex</th>
		<th width="90px">D.O.B</th>
		<th width="60px"></th>
	</tr>
	{% if apts %}
	{% for apt in apts %}
	<tr>
		<td align="center">{{apt.schedule.start_time}}</td>
		<td align="center">{{apt.check_in_time}}</td>
		<td align="center">{{apt.patient}}</td>
		<td align="center">{% if apt.patient.gender %}Male{% else %}Female{% endif %}</td>
		<td align="center">{{apt.patient.birthday}}</td>
		<td align="center">
			<span class="orange"><a href="/broker/upload/{{apt.patient_id}}/{{apt.case_id}}/" class="orange upload innerlink">c</a></span>
		</td>
	</tr>
    {% endfor %}
	{% else %}
		<tr>
			<td colspan="7" align="center">No Patients Awaiting Upload</td>
		</tr>
	{% endif %}
</table>
<br />
