<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("table#upload-progress tr:even").css("background-color", "#F4F4F8");
		$("table#upload-progress tr:odd").css("background-color", "#EFF1F1");
	});
</script>
<div class="title-text">Upload Progress</div>
<br />
<table id="upload-progress">
	<tr>
		<th width="90px">Scheduled</th>
		<th width="90px">Registered</th>
		<th>Patient Name</th>
		<th width="80px">Sex</th>
		<th width="90px">D.O.B</th>
		<th width="100px">Upload</th>
	</tr>
	<tr>
		<td align="center">3:30 PM</td>
		<td align="center">3:24 PM</td>
		<td align="center">TAN AH BENG</td>
		<td align="center">Male</td>
		<td align="center">10/15/1988</td>
		<td align="center">
			50%
		</td>
	</tr>
	<tr>
		<td align="center">3:30 PM</td>
		<td align="center">3:24 PM</td>
		<td align="center">TAN AH BENG</td>
		<td align="center">Male</td>
		<td align="center">10/15/1988</td>
		<td align="center">
			50%
		</td>
	</tr>
	<tr>
		<td align="center">3:30 PM</td>
		<td align="center">3:24 PM</td>
		<td align="center">TAN AH BENG</td>
		<td align="center">Male</td>
		<td align="center">10/15/1988</td>
		<td align="center">
			50%
		</td>
	</tr>
</table>
<br /><br />