<script src="../common/js/jquery.js"></script>
<script src="../common/js/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("#upload-back").button({
			icons: {
				primary: "ui-icon-triangle-1-w"
			}
		});
	});
</script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('#file_upload').uploadifive({
			'auto'         : false,
			'formData'     : {'case_id': '{{case_id}}'},
			'queueID'      : 'queue',
			'uploadScript' : '/broker/upload_action/',
			'onUploadComplete' : function(file, data) {
				if (data != '0'){
					alert(data);
				}
			}
		});
	});
</script>


<div class="title-text">{{patient}}</div>
{% if patient.gender %}Male{% else %}Female{% endif %} - {{patient.birthday}}<br />
<br />

<form>
	<div id="queue"></div>
	<!--<input id="file_upload" name="file_upload" type="file" multiple="true">-->
	<input id="file_upload" name="file_upload" type="file">
	<a style="position: relative; top: 8px;" href="javascript:$('#file_upload').uploadifive('upload')">Upload Files</a>
</form>

<br /><br />
<span class="orange"><a href="/broker/patients/" id="upload-back" class="orange innerlink">Back</a></span>


