<script src="{{STATIC_URL}}common/js/jquery.js"></script>
<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}common/js/jquery.uploadifive.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme_orange/jquery-ui.css" />
<script>
	$(document).ready(function() {
		$("#upload-back").button({
			icons: {
				primary: "ui-icon-triangle-1-w"
			}
		});
		$("#upload-btn").button({
			icons: {
				primary: "ui-icon-check"
			}
		});
		$("#complete-btn").button({
			icons: {
				primary: "ui-icon-check"
			}
		});
		$("#file_upload").button({
			icons: {
				primary: "ui-icon-check"
			}
		});
		
		$(function() {
			setTimeout(function() {
			$('#file_upload').uploadifive({
				'auto'         : false,
				'buttonText'  : 'Browse',
				'formData'     : {'case_id': '{{case_id}}',
				                  'identifier': '{{identifier}}'},
				'queueID'      : 'queue',
				'uploadScript' : '/broker/upload_action/',
				'onUploadComplete' : function(file, data) {
					if (data != '0'){
						alert(data);
					}else{
						$('#upload-btn').hide();
						$('#complete-btn').show();
					}
				}
			});
			},800);
		});
	});
</script>

<script type="text/javascript">

	function complete(){
		$.ajax({
            url: "/broker/upload_complete/",
            type: "POST",
            timeout: 10000,
            data: {
                identifier: '{{identifier}}',
				case_id: '{{case_id}}' 
            },
            beforeSend: function(XMLHttpRequest){
                //XMLHttpRequest.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
            },
            dataType: 'json',
            success: function(data, textStatus){
                if (typeof(data.code) != 'undefined' && data.code == '0') {
                    alert(data.msg);
                }
                else {
                    alert(data.msg);
                }
            },
            error: function(xhr, textStatus, errorThrown){
            },
            failure: function(data, statusText){
            },
        });
	}
	
</script>


<div class="title-text">{{patient}}</div>
<table class="format-table">
	<tr>
		<td width="100px"><b>SSN</b></td>
		<td>{{patient.ssn}}</td>
	</tr>
	<tr>
		<td><b>Birthdate</b></td>
		<td>{{patient.birthday}}</td>
	</tr>
	<tr>
		<td><b>Gender</b></td>
		<td>
		{% if patient.gender == 1 %}
			Male
		{% endif %}
		{% if patient.gender == 0 %}
			Female
		{% endif %}
		</td>
	</tr>
</table>
<br />

<form>
	<div id="queue"></div>
	<input id="file_upload" name="file_upload" type="file" multiple="true">
	<a href="javascript:$('#file_upload').uploadifive('upload')" id="upload-btn">Upload Files</a>
	<a href="javascript:;" onclick="complete()" id="complete-btn" style="display:none;">Complete</a>
</form>

<br /><br />
<span class="orange"><a href="/broker/patients/" id="upload-back" class="orange innerlink">Back</a></span>
