.title-text {
	margin-top: 5px;
	font-size: 24px;
	margin-bottom: 2px;
	font-family:"Helvetica Neue";
}
.small-title {
	font-size: 17px;
	margin-bottom: 6px;
	color: #88A;
}
#patient-upload {
	width: 100%;
	font-size: 13px;
	font-family: "Tw Cen MT","Helvetica Neue",san-serif;
}
#patient-upload td, #patient-upload th {
	padding: 8px;
}
#patient-upload th {
	background: #ddd;
}
#upload-progress {
	width: 100%;
	font-size: 13px;
	font-family: "Tw Cen MT","Helvetica Neue",san-serif;
}
#upload-progress td, #upload-progress th {
	padding: 8px;
}
#upload-progress th {
	background: #ddd;
}
#log-table {
	width: 100%;
	font-size: 13px;
	font-family: "Tw Cen MT","Helvetica Neue",san-serif;
}
#log-table td, #log-table th {
	padding: 8px;
}
#left-bar {
	width: 30%;
	min-width: 300px;
	height: 100%;
	float: left;
	border-right: 1px solid #000;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 13px;
}
#inner-left {
	padding: 20px;
	min-width: 300px;
}
#right-bar {
	width: 70%;
	margin-left: 30%;
	height: 100%;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 14px;
	padding-left: 5px;
}
#inner-right {
	padding: 20px;
}
#messages-inner-left {
	padding: 20px;
}
#messages-inner-right {
	padding: 20px;
}
#message-table {
	width: 95%;
	min-width: 250px;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 13px;
	margin-top: 20px;
}
#message-table td {
	padding: 6px;
}