<html>
<head>

	<title>Login - QuantMD</title>
	
	<script src="{{STATIC_URL}}common/js/jquery.js"></script>
	<script src="{{STATIC_URL}}common/js/jquery-ui.js"></script>
	<script src="{{STATIC_URL}}common/js/md5.js"></script>
	<script src="{{STATIC_URL}}common/js/login.js"></script>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/theme/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/login.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/fonts.css" />
	
</head>
<body>

			<form name="changePassword" id="changePassword" action="/changePassword/" method="POST"> {% csrf_token %}
				Current password:<input type="password" id="password" name="password" /><p />
				<input id="new-password" type="password" name="new-password" value="" /><br /><p />
				<input id="confirm-password" type="password" name="confirm-password" value="" /><br /><p />
				<input type="button" name="changebutton" class="button" id="changebutton" value="Submit" /><br />
			</form>
			
		<a href="forgot.htm">Forgot Password?</a><p /><br />
		Contact QuantMD Administrator for more information.<p />
		&#0169; 2012 QuantMD <img id="icon-base" src="{{STATIC_URL}}common/images/icon-quantmd-mini-white.png" /> 

</body>
</html>