<html>
<head>

	<title>Logout Successful - QuantMD</title>
	
	<script src="common/js/jquery.js"></script>
	<script src="common/js/jquery-ui.js"></script>
	<script src="common/js/md5.js"></script>

	<link rel="stylesheet" type="text/css" href="common/css/login.css" />
	<link rel="stylesheet" type="text/css" href="common/css/theme_blue/jquery-ui.css" />
	
</head>
<body>

	<div id="logoutbox">
		<div id="logoutbox-header">Signed Out</div>
		<div id="logoutbox-form">
			<b>You have been successfully signed out of the system.</b><p /><p /> For security reasons, please clear your cache.<p /><p />
			Click <a href="login.htm">here</a> to sign in again.
		</div>
		Contact QuantMD Administrator for more information.<p /><p />
		&#0169; 2012 QuantMD <img id="icon-base" src="common/images/icon-quantmd-mini-white.png" /> 
	</div>

</body>
</html>