/* Initializing Offsets */
#patients { top: 20; left: 20; }
#schedule { top: 50; left: 50; }
#diagnosis { top: 80; left: 80; }
#messages { top: 110; left: 110; }

#patient-table { width: 710px; }
#schedule-table { width: 710px; display: none; }
#message-table { width: 710px; }
#schedule-timeslot-table { width: 710px; }
#create-patient-table { width: 710px; }
#patient-info-table { width: 600px; }
#diagnosis-table { width: 710px; }
#message-table { width: 710px; }
#individual-diagnosis-table { width: 710px; }
#individual-schedule-table { width: 710px; }

/* Specific Table */

#schedule-table td {
	padding: 10px;
    background-color: #FFF;	 
}

#create-patient-table td {
	padding: 10px;
    background-color: #FFF;	 
}

.right-table{
	float: right;
	margin-top: -50px;	
	margin-right: -40px;
}

.left-table{
	margin-top: 8px;	
}
.bottom-pane{
	margin-left:8px;
	height: 200px; 
	width: 700px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}


