#left-bar {
	width: 30%;
	min-width: 250px;
	height: 100%;
	float: left;
	border-right: 1px solid #000;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 18px;
}
#inner-left {
	padding: 20px;
}
#right-bar {
	width: 70%;
	margin-left: 30%;
	height: 100%;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 18px;
	padding-left: 5px;
}
#inner-right {
	padding: 20px;
}
#messages-inner-left {
	padding: 20px;
}
#messages-inner-right {
	padding: 20px;
}
.data-table {
	width: 95%;
	min-width: 250px;
	font-family:"Tw Cen MT","Helvetica Neue";
	font-size: 17px;
	margin-top: 20px;
}
.data-table td {
	padding: 15px;
}
.title-text {
	font-size: 32px;
	margin-bottom: 2px;
	font-family:"Helvetica Neue";
}
.small-title {
	font-size: 24px;
	margin-bottom: 6px;
	color: #AAD;
}
#case-table {
	width: 100%;
	font-size: 17px;
}
#case-table td, #case-table th {
	padding: 7px;
}
#patient-info-nav {
	float: right;
	margin-right: 0px;
}
#case-info-nav {
	float: right;
	margin-right: 0px;
}
.message-list-line {
	height: 65px;
}
.message-list-line .header {
	font-size: 19px;
	font-weight: bold;
}
#message-table {
	margin-top: -10px;
}
#mri-centers {
	width: 100%;
	font-size: 17px;
}
#mri-centers td {
	padding: 7px;
	background-color: #efefef;
}
#mri-centers .left {
	background-color: #dddddf;
	font-weight: bold;
}
#timeslot-confirm {
	width: 350px;
	height: 400px;
	display: none;
}